<header>
  <router-outlet name="introduction"></router-outlet>

</header>
<main>

  <article>

    <mat-card>
      <mat-card-content>
        <router-outlet name="saving"></router-outlet>
        <router-outlet name="investing"></router-outlet>
        <router-outlet name="pins"></router-outlet>
        <router-outlet name="retirement"></router-outlet>
        <router-outlet name="retirement-income"></router-outlet>
        <router-outlet name="real-estate"></router-outlet>
        <router-outlet name="thresholds"></router-outlet>
        <!--
          <router-outlet name="historical"></router-outlet>
        -->
        
        <router-outlet name="simulation"></router-outlet>

      </mat-card-content>
    </mat-card>
  </article>

  <aside [ngClass]="{open:opened}">
    <mat-card>
      <mat-card-content>
        <router-outlet name="results"></router-outlet>
      </mat-card-content>
    </mat-card>
  </aside>

  <button (click)="opened = !opened" class="toggle" mat-mini-fab aria-label="Toggle results">
    <ng-container *ngIf="!opened">
      <mat-icon>expand_less</mat-icon>
    </ng-container>
    <ng-container *ngIf="opened">
      <mat-icon>expand_more</mat-icon>
    </ng-container>
  </button>
</main>
<footer>
  <router-outlet class="summary" name="summary"></router-outlet>

</footer>

<router-outlet></router-outlet>