<header>
  <router-outlet name="introduction"></router-outlet>
</header>
<main>
  <article>
    <router-outlet name="saving"></router-outlet>
    <router-outlet name="retirement"></router-outlet>
    <router-outlet name="investing"></router-outlet>
    <router-outlet name="real-estate"></router-outlet>
    <router-outlet name="retirement-income"></router-outlet>
    <router-outlet name="simulation"></router-outlet>
  </article>
  <aside>
    <router-outlet name="results"></router-outlet>
  </aside>
  
</main>
<footer>
  <router-outlet class="summary" name="summary"></router-outlet>

</footer>

<router-outlet></router-outlet>