
h1 {

  font-size: 38px;
  line-height: 42px;
  font-weight: 300;
}

h2 {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;  
}
p {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}
section {
  h3 {
    color: #333;
    font-weight: 500;
    font-size: 24px;
    display: block;
  }
  
  p {
    max-width: 400px;
    margin: 1rem auto 1rem 0;
  }
}

header {
  height: auto;
}
main {
  display: flex;
  flex: 1;
  flex-direction: row;

  article {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  aside {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .toggle {
    position:fixed;
    bottom: 4.75rem;
    right: 1rem;
    display: none;
    transition: bottom 200ms ease;
  }

  @media (max-width:480px)  {

    aside {
      // taken from mini fab button
      box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

      position: fixed;
      bottom: 0;
      height: 6rem;
      background: white;
      left: 0;
      right: 0;
      transition: height 200ms ease;
      
      &.open {
        height: 45vh;
        overflow: scroll;  
      }
    }

    .toggle {
      
      display: block;
    }
    .open + .toggle { 
      bottom: 45vh;
      transform: translateY(1.25rem);
    }
  }
}
