
<div class="life-events-ALL">
  <div class="hero">
    <a class="back" [routerLink]="routingService.mapper.createLifeEventsRoute()">
      <mat-icon>keyboard_backspace</mat-icon> Life Events
    </a>
    <h1>Add a life event</h1>
  </div>
  <div class="choice-cards">
    <div class="frame">
      <div class="card" *ngFor="let lifeEvent of lifeEventsService.availableLifeEvents">
        <div class="text-wrapper-4">{{lifeEvent.name}}</div>
        <figure>
          <mat-icon [fontIcon]="lifeEvent.icon"></mat-icon>
        </figure>
        <a mat-fab color="primary" [routerLink]="lifeEvent.href">
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
