.life-events-ALL {
  background-color: #96bafa;
  padding: 1rem;
}

.hero {
  padding: 99px;
}

h1 {
  color: #000;
  font-family: Manrope;
  font-size: 3.56563rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.back {
  color: #FFF;
  font-family: Manrope;
  font-size: 1.12813rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  text-decoration: none;
  line-height: 1rem;
  display: flex;
  flex: 1;
  align-items: center;
  
  .mat-icon {
    font-size: 2rem;
    height: auto;
    width: auto;
  }
}
.life-events-ALL .text-wrapper {  
  width: 649px;
  font-family: "Manrope-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 57px;
  letter-spacing: 0;
  line-height: normal;
}

.life-events-ALL .text-wrapper-2 {
  width: 38px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
}

.life-events-ALL .text-wrapper-3 {
  font-family: "Manrope-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.life-events-ALL .choice-cards {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  
}

.life-events-ALL .frame {
  display: flex;
  align-items: flex-start;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 99px;
}

.life-events-ALL .card {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 15px #0000001f;
  display: flex;
  flex: 1;
  
  display: flex;
  padding: 3.25rem 1.375rem;
  flex-direction: column;
  align-items: center;
  gap: 1.9375rem;
  min-width: 14rem;
  min-height: 13rem;

  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

figure mat-icon {
  font-size: 4rem;
  height: auto;
  width: auto;
}

.life-events-ALL .search {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  left: 19px;
  object-fit: cover;
}

.life-events-ALL .div-wrapper {
  position: relative;
  width: 53px;
  height: 51px;
}

.life-events-ALL .overlap-group-wrapper {
  height: 51px;
}

.life-events-ALL .vector-wrapper {
  position: relative;
  width: 51px;
  height: 51px;
  background-color: #fd5053;
  border-radius: 38.73px;
}

.life-events-ALL .vector {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 15px;
  left: 15px;
}

.life-events-ALL .image {
  width: 66px;
  height: 65px;
  top: -4px;
  left: 14px;
  position: absolute;
  object-fit: cover;
}

.life-events-ALL .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 35px;
  position: relative;
  flex: 0 0 auto;
}

.life-events-ALL .img {
  width: 68px;
  height: 68px;
  top: -7px;
  left: 13px;
  position: absolute;
  object-fit: cover;
}

.life-events-ALL .baggage-plane {
  position: absolute;
  width: 62px;
  height: 62px;
  top: -2px;
  left: 17px;
  object-fit: cover;
}

.life-events-ALL .wedding-money-piggy {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -2px;
  left: 18px;
  object-fit: cover;
}

.life-events-ALL .image-2 {
  width: 62px;
  height: 62px;
  top: 0;
  left: 13px;
  position: absolute;
  object-fit: cover;
}

.life-events-ALL .img-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -1px;
  left: 17px;
  object-fit: cover;
}

.life-events-ALL .hospital-first-aid {
  position: absolute;
  width: 63px;
  height: 63px;
  top: -3px;
  left: 15px;
  object-fit: cover;
}

.life-events-ALL .death-coffin {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -6px;
  left: 12px;
  object-fit: cover;
}

.life-events-ALL .saving-bank {
  position: absolute;
  width: 68px;
  height: 68px;
  top: -4px;
  left: 14px;
  object-fit: cover;
}

.life-events-ALL .products-give-gift {
  position: absolute;
  width: 76px;
  height: 76px;
  top: -9px;
  left: 9px;
  object-fit: cover;
}

.life-events-ALL .insurance-card {
  position: absolute;
  width: 74px;
  height: 74px;
  top: -4px;
  left: 11px;
  object-fit: cover;
}

.life-events-ALL .business-lucky-cat {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -4px;
  left: 15px;
  object-fit: cover;
}

.life-events-ALL .rbn {
  position: absolute;
  width: 100px;
  height: 94px;
  top: 0;
  left: 2px;
}

.life-events-ALL .overlap-2 {
  position: relative;
  height: 94px;
}

.life-events-ALL .group {
  position: absolute;
  width: 67px;
  height: 77px;
  top: 0;
  left: 0;
}

.life-events-ALL .rectangle {
  position: absolute;
  width: 49px;
  height: 61px;
  top: 27px;
  left: 42px;
  border-radius: 3px;
  border: 5.05px solid;
  border-color: #000000;
  transform: rotate(20.77deg);
}

.life-events-ALL .text-wrapper-5 {
  position: absolute;
  top: 26px;
  left: 54px;
  transform: rotate(19.19deg);
  font-family: "Sofia Sans-ExtraBlack", Helvetica;
  font-weight: 950;
  color: #000000;
  font-size: 37px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.life-events-ALL .menu {
  position: absolute;
  width: 512px;
  height: 38px;
  top: 25px;
  left: 841px;
}

.life-events-ALL .overlap-3 {
  position: relative;
  width: 173px;
  height: 38px;
  left: 180px;
}

.life-events-ALL .rectangle-2 {
  position: absolute;
  width: 29px;
  height: 34px;
  top: 2px;
  left: 2px;
  background-color: #fd5053;
  transform: rotate(9.12deg);
}

.life-events-ALL .text-wrapper-6 {
  position: absolute;
  top: 4px;
  left: 14px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
