<mat-card>
<mat-card-content>
<p>
  <i>Note: "Learn" continues to be under development but is starting to get lengthy, please <a target="_" [href]="routingService.mapper.createContactMeRoute()">contact me</a> with any feedback or questions.</i>
</p>
<h2>Learning to Retire</h2>
<p>
  Getting to retirement is hard! I created Red then Black (RtB) as a holistic tool highlighting the broad strokes to personal finance, allowing people to think about the "strategic" decisions to get them to retirement.
</p>
<p>
  A lot of the ideas used in the "retire" tool are from different hobbies I've had over time. This "learn" tool is dedicated to demonstrating why those ideas matter at all. I will be trying my best to explain here, but will also include a <a [routerLink]="routingService.mapper.createResourcesRoute()">list of books / videos / and other source material</a> where I learned. None of the ideas presented here are original.
</p>
<p>
  My hope is that by going through the following sections, you'll be able to play with a few of the concepts I found helpful for planning my own future; I further hope the time you spend with this tool will help you plan for your future too. 
</p>

<h2>Suitability</h2>

<blockquote>
  Personal finance is the financial management which an individual or a family unit performs to budget, save, and spend monetary resources over time, taking into account various financial risks and future life events.
  <br/>
  When planning personal finances, the individual would consider the suitability to his or her needs of a range of banking products (checking, savings accounts, credit cards and consumer loans) or investment in private equity, (companies' shares, bonds, mutual funds) and insurance (life insurance, health insurance, disability insurance) products or participation and monitoring of and- or employer-sponsored retirement plans, social security benefits, and income tax management.
  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Personal_finance" target="_">Wikipedia</a>
  </cite>
  
</blockquote>
<p>
  Everyone's past, present, and future is unique to themself; it's personal! Great advice to one person may be not-so-great advice to someone else. Be careful when considering a new investment.
</p>

<label>Current Savings</label>
<input type="number" [(ngModel)]="preferences.startingBalance" (ngModelChange)="refreshOutputs()"><br/>

<br/>
<h2>Cash Flow Diagram</h2>
<blockquote>
  A cash flow is a real or virtual movement of money:
  <ul>
  <li>
    a cash flow in its narrow sense is a payment (in a currency), especially from one central bank account to another; the term 'cash flow' is mostly used to describe payments that are expected to happen in the future, are thus uncertain and therefore need to be forecast with cash flows;
    
  </li>
  <li>
    a cash flow is determined by its time t, nominal amount N, currency CCY and account A; symbolically CF = CF(t,N,CCY,A).
  </li>
  <li>
    it is however popular to use cash flow in a less specified sense describing (symbolic) payments into or out of a business, project, or financial product.
  </li>
  </ul>
  Cash flows are narrowly interconnected with the concepts of value, interest rate and liquidity. A cash flow that shall happen on a future day tN can be transformed into a cash flow of the same value in t0.
  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Cash_flow" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
  Your net worth can be used interchangably within this article as balance. Cash flows are differences on that balance.
</p>
<p>
  In nearly all of the following sections, we'll be showing multiple types of interactive charts. One of these charts will track the amount of value within your account, your balance. The other demonstrates the flow of cash, the addition or removal of assets from your balance. 
</p>
<p>
  Financial products can be confusing. Reducing any financial product to an expected series of cash flows improves the explainability of the investment. If for some reason you can't explain the product, you probably shouldn't use the product. 
</p>

<label>Periods til retirement</label>
<input type="number" [(ngModel)]="preferences.numPeriods" (ngModelChange)="refreshOutputs()"><br/>

<br/>
<h2>Saving</h2>
<blockquote>
  Saving is income not spent, or deferred consumption. Methods of saving include putting money aside in, for example, a deposit account, a pension account, an investment fund, or as cash. Saving also involves reducing expenditures, such as recurring costs. In terms of personal finance, saving generally specifies low-risk preservation of money, as in a deposit account, versus investment, wherein risk is a lot higher; in economics more broadly, it refers to any income not used for immediate consumption. Saving does not automatically include interest.
  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Saving" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
  I think learning how to save is where most people start. We put a predictable amount into an account and watch the balance grow. Depending on how long you save, the number of periods, and the amount you save per period, you can expect to have a certain amount at the end. A period can be any arbitrary unit of time you'd prefer to use! A common period used is years, but can be as short as days or weeks.  
</p>
<label>Savings per period</label>
<input type="number" [(ngModel)]="preferences.savingsPerPeriod" (ngModelChange)="refreshOutputs()" [step]="steps.savingsPerPeriod"><br/>


<app-cash-flow-diagram [cashFlow]="savingsCashFlow"></app-cash-flow-diagram>
<p>
  The "Cash Flow" diagram here has each entry level because {{preferences.savingsPerPeriod}} is added consistently in each period. We can see over the {{preferences.numPeriods}} periods the "Balance" continues to increase.
</p>


<h2>Retirement and your Nest Egg</h2>
<blockquote>
  At retirement, individuals stop working and no longer get employment earnings, and enter a phase of their lives, where they rely on the assets they have accumulated, to supply money for their spending needs for the rest of their lives.
  <br/><br/>
  A portion of retirement income often comes from savings, sometimes referred to as a nest egg.

  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Retirement_spend-down" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
  Since we'll be withdrawing money during retirement, we can see a series of cash flows out of our balance. Since we use a fixed withdrawal rate, the individual cash flows themselves decrease over each period.
</p>
<p>
  The duration of retirement drastically affects the size of nest egg that needs to be accumulated while working. As a rule of thumb annual withdrawal over a 30 year retirement could use a 4% withdrawal rate while annual withdrawal over a 60 year retirement would use a 2% withdrawal rate.
</p>

<label>Nest Egg</label>
<input type="number" [(ngModel)]="preferences.nestEgg" (ngModelChange)="refreshOutputs()"><br/>
<label>Periods in Retirement</label>
<input type="number" [(ngModel)]="preferences.periodsInRetirement" (ngModelChange)="refreshOutputs()"><br/>
<label>Withdrawal Rate</label>
<input type="number" [(ngModel)]="preferences.withdrawalRate" (ngModelChange)="refreshOutputs()" [step]="steps.withdrawalRate"><br/>

<app-cash-flow-diagram [cashFlow]="retirementNestEggCashFlow"></app-cash-flow-diagram>
<!--
<h2>Bonds</h2>
<blockquote>
  A bond is a type of security under which the issuer (debtor) owes the holder (creditor) a debt, and is obliged - depending on the terms - to repay the principal (i.e. amount borrowed) of the bond at the maturity date as well as interest (called the coupon) over a specified amount of time. The interest is usually payable at fixed intervals: semiannual, annual, and less often at other periods. 
  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Bond_(finance)" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
To look at a slightly more complicated cash flow, let's look at bonds. Bonds are a different kind of a product which you would typically buy up front for a "price", get a number of payments over the "duration" of the bond in the form of "coupons", then get a lump sum at the end when the bond matures which is the "face value" of the bond. In this example, I have the final coupon and face value being paid at the end together, but this may vary (and some bonds may even have no coupons!).
</p>

<br>
<label>Bond Price</label>
<input type="number" [(ngModel)]="preferences.bondPrice" min="0" (ngModelChange)="refreshOutputs()"><br/>
<label>Bond Coupon</label>
<input type="number" [(ngModel)]="preferences.bondCoupon" min="0" (ngModelChange)="refreshOutputs()"><br/>
<label>Bond Face Value</label>
<input type="number" [(ngModel)]="preferences.bondFaceValue" min="0" (ngModelChange)="refreshOutputs()"><br/>
<label>Bond Duration</label>
<input type="number" [(ngModel)]="preferences.bondDuration" min="0" (ngModelChange)="refreshOutputs()"><br/>

<app-cash-flow-diagram [cashFlow]="bondCashFlow"></app-cash-flow-diagram>
<p>
  Here we start with a negative cash flow of {{preferences.bondPrice}}, the price of the bond. We continue to get a coupon payment of {{preferences.bondCoupon}} over the duration of {{preferences.bondDuration}} periods. Finally when the bond matures, we get a final payment for the face value of {{preferences.bondFaceValue}}.
</p>

<p>One thing we've ignored here intentionally is that this bond will always get paid. Depending what happens to the issuer of the bond, the bond may not be paid. We'll explore more how to deal with this uncertainty later.</p>
-->
<h2>Naive Stocks</h2>
<p>I add the word "naive" to the section title here since an expected growth of 10% (or multiplying by 1.1, used as inputs here) in the stock market is a misleading and harmful assumption which may lead to financial ruin. To actually model uncertainty in the stock market, do not use this section, but use the retire tool instead.</p>
<p>
  Naive stock assumption are better suited for expressing the power of reliable compounding. Compounding is the idea that as you have positive cash flow and add value to your balance, you continue to reinvest. The reinvested balance, being larger, generates a larger positive cash flow, and you repeat the cycle of reinvesting and benefiting from larger and larger cash flows.
</p>
<p>
  Since compounding will benefit you over time, increasing the number of periods, starting balance, and rate of growth per period all have positive effects. 
</p>
<label>Number of periods</label>
<input type="number" [(ngModel)]="preferences.numPeriods" (ngModelChange)="refreshOutputs()"><br/>

<label>Starting balance</label>
<input type="number" [(ngModel)]="preferences.startingBalance" (ngModelChange)="refreshOutputs()" [step]="steps.startingBalance"><br/>

<label>Stock growth</label>
<input type="number" [(ngModel)]="preferences.naiveStockGrowthRate" [step]="steps.growthRate" (ngModelChange)="refreshOutputs()"><br/>

<app-cash-flow-diagram [cashFlow]="naiveStocksCashFlow"></app-cash-flow-diagram>
<p>
  Investing {{preferences.startingBalance | number: '1.0-0':'en-US'}} only at the start and allowing to compound over {{preferences.numPeriods}} periods with an expected growth rate of {{preferences.naiveStockGrowthRate}} per period would lead to a final balance of <em>{{lastValueOf(naiveStocksBalance) | number: '1.0-0':'en-US'}}</em>.
</p>

<h2>Optimal Bet Sizing</h2>
<blockquote>
  Kelly betting or proportional betting is an application of information theory to investing and gambling. Its discoverer was John Larry Kelly, Jr.

  <br/><br/>
  Part of Kelly's insight was to have the gambler maximize the expectation of the logarithm of his capital, rather than the expected profit from each bet. This is important, since in the latter case, one would be led to gamble all he had when presented with a favorable bet, and if he lost, would have no capital with which to place subsequent bets. Kelly realized that it was the logarithm of the gambler's capital which is additive in sequential bets, and "to which the law of large numbers applies."

  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Gambling_and_information_theory" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
  I would be remiss if I didn't help solve for uncertainty! For the next few sections, we'll use a deck of cards to model uncertain outcomes - drawing from a face down shuffled deck, you don't know which card you'll pick next.
</p>
<p>
  A standard deck has two colors, red and black. In this section, you can modify how many red and black cards will be drawn. By default we will always bet on red, so increasing the number of red cards proportional to the number of black cards will improve your odds.
</p>
<p>
  We will also be defaulting to a proportional betting system. There are many other betting systems like fixed or martingale, but both of those betting systems have probability of ruin, risk of your balance reaching zero. Proportional betting systems have better guarantees to avoiding ruin. 
</p>

<p>
  This game will, on a red card ({{preferences.numRedCards}} / {{preferences.numRedCards + preferences.numBlackCards}}), give you the amount you risked. On a black card ({{preferences.numBlackCards}} / {{preferences.numRedCards + preferences.numBlackCards}}), the amount you risked is taken. The amount risked is the bet size ({{preferences.cardBetSize}}) multiplied by the current balance. 
</p>

<label>Starting balance</label>
<input type="number" [(ngModel)]="preferences.startingBalance" (ngModelChange)="refreshOutputs()" [step]="steps.startingBalance"><br/>

<label>Number of Red Cards</label>
<input type="number" [(ngModel)]="preferences.numRedCards" (ngModelChange)="refreshOutputs();resetGeometric()" min="0" ><br/>
<label>Number of Black Cards</label>
<input type="number" [(ngModel)]="preferences.numBlackCards" (ngModelChange)="refreshOutputs();resetGeometric()" min="0" ><br/>
<br/>
<label>Proportional bet size to wealth (0-1)</label>
<input type="number" [(ngModel)]="preferences.cardBetSize" [step]="steps.cardBetSize" min="0" max="1" (ngModelChange)="refreshOutputs();resetGeometric()"><br/>
<p>
  <button mat-stroked-button (click)="refreshOptimalBetSizing(1)">Shuffle Deck</button>
</p>
<app-cash-flow-diagram [cashFlow]="optimalBetSizingCashFlow"></app-cash-flow-diagram>
<p>
  There are {{preferences.numRedCards}} positive cash flow events, represented by the number of red cards. There are additionally {{preferences.numBlackCards}} negative cash flow events, represented by the number of black cards. While starting at {{preferences.startingBalance | number: '1.0-0':'en-US'}} final account balance ends up at <em> {{finalAccountValue | number: '1.0-0':'en-US'}}</em>.
</p>
<p>
  No matter how many times you shuffle the deck, the final balance is always the same. Even as independent cash flows change, the end result will always be the same. This is because the amount bet each time is multiplied, as a proportional change. Multiplied numbers, no matter which way you order them, the product is the same (e.g. 1 * .5 * 2 = 1 * 2 * .5, a recession in year 1 is the same as in year 10). 
</p>
<p>
  The final and most important thing for optimal bet sizing is the notion that there is one. The book that got me interested in investing was "Fortune's Formula", which is effectively optimal bet sizing and the kelly criterion. Increasing bet size past the optimal will only decrease your expected outcomes over the long run. Excessive risk with continually consistent compounding leads to no reward.
</p>
<p>
  There is a lot more math involved here but a simpler way to think about excessive risk with even great odds is if you had 51 cards red and 1 card black. If you bet 100% of your balance, potentially you'd land 51 wins in a row! Unfortunately, the 1 black card would result in ruin, everything you've gained, and what you've started with, would be gone. 
</p>
<p>
  The section below stores multiple runs so the variance can be observed, leading to a final outcome. I'd encourage playing with odds and bet sizes and finding the sweet spot in the relationship. Better odds leads to a higher optimal bet size. Below the optimal position will have lower variance given lower return. Above the optimal position will have higher variance and lower given return, until returns converge to zero.
</p>

<label>Starting balance</label>
<input type="number" [(ngModel)]="preferences.startingBalance" (ngModelChange)="refreshOutputs()" [step]="steps.startingBalance"><br/>

<label>Number of Red Cards</label>
<input type="number" [(ngModel)]="preferences.numRedCards" (ngModelChange)="refreshOutputs();resetGeometric()" min="0" ><br/>
<label>Number of Black Cards</label>
<input type="number" [(ngModel)]="preferences.numBlackCards" (ngModelChange)="refreshOutputs();resetGeometric()" min="0" ><br/>
<br/>
<label>Proportional bet size to wealth (0-1)</label>
<input type="number" [(ngModel)]="preferences.cardBetSize" [step]="steps.cardBetSize" min="0" max="1" (ngModelChange)="refreshOutputs();resetGeometric()"><br/>

<p>
  <button mat-stroked-button (click)="refreshOptimalBetSizing(25)">Run 25 times</button>
</p>
<app-multiple-line-chart [chartData]="geometric"></app-multiple-line-chart>

<p>
  There are {{preferences.numRedCards}} positive cash flow events, represented by the number of red cards. There are additionally {{preferences.numBlackCards}} negative cash flow events, represented by the number of black cards. While starting at {{preferences.startingBalance | number: '1.0-0':'en-US'}}, final account balance ends up at <em> {{finalAccountValue | number: '1.0-0':'en-US'}}</em>.
</p>

<h2>Random Walk</h2>
<blockquote>
  A random walk is a random process that describes a path that consists of a succession of random steps on some mathematical space
  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Random_walk" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
  This is an interesting investment which overtime will wander in price but the expected payoff is even. We will assume for this example that you've leveraged 1.0, or all your assets into this trade. On a positive events you'll receive {{preferences.goodEvenReturn}} and on negative events you'll receive {{preferences.badEvenReturn}}. The product of {{preferences.goodEvenReturn}} multiplied by {{preferences.badEvenReturn}} is {{preferences.goodEvenReturn * preferences.badEvenReturn}}.

  If there are an even number of red and black cards and the full deck is drawn, inevitably your final balance will be the same as that you've started.
</p>

<label>Starting balance</label>
<input type="number" [(ngModel)]="preferences.startingBalance" (ngModelChange)="refreshOutputs()" [step]="steps.startingBalance"><br/>
<label>Number of Periods</label>
<input type="number" [(ngModel)]="preferences.numPeriods" (ngModelChange)="refreshOutputs();" min="0" ><br/>
<label>Returns in a positive event</label>
<input type="number" [(ngModel)]="preferences.goodEvenReturn" (ngModelChange)="refreshOutputs();" min="0" ><br/>
<label>Returns in a negative event</label>
<input type="number" [(ngModel)]="preferences.badEvenReturn" (ngModelChange)="refreshOutputs();" min="0" ><br/>

<p>
  <button mat-stroked-button (click)="refreshRandomWalk()">Reshuffle</button>
</p>
<app-cash-flow-diagram [cashFlow]="randomWalkCashFlow"></app-cash-flow-diagram>

<p>
  A starting investment of {{firstValueOf(randomWalkBalance) | number: '1.0-0':'en-US'}} after {{preferences.numPeriods}} periods results in <em>{{lastValueOf(randomWalkBalance) | number: '1.0-0':'en-US'}}</em>.
</p>
<p>
  In the case of a random walk with 100% of your assets invested, your funds will wander but fundamentally will not 
</p>

<h2>Random Walk with Rebalancing</h2>
<blockquote>
  Rebalancing of investments (or constant mix) is a strategy of bringing a portfolio that has deviated away from one's target asset allocation back into line. This can be implemented by transferring assets, that is, selling investments of an asset class that is overweight and using the money to buy investments in a class that is underweight, but it also applies to adding or removing money from a portfolio, that is, putting new money into an underweight class, or making withdrawals from an overweight class.
  <br/>
  <cite>
    <a href="https://en.wikipedia.org/wiki/Rebalancing_investments" target="_">Wikipedia</a>
  </cite>
</blockquote>
<p>
  If instead of assume 1.0 leverage (100% allocation) a partial allocation which is rebalanced will perform better than even. 

</p>
<label>Leverage</label>
<input type="number" [(ngModel)]="preferences.randomWalkReturnLeverage" (ngModelChange)="refreshOutputs()" [step]="steps.leverageStepSize"><br/>
<app-cash-flow-diagram [cashFlow]="rebalanceRandomWalkCashFlow"></app-cash-flow-diagram>



<h2>Time Diversification</h2>
<blockquote>
  Retirement savers are missing an opportunity to diversify across time—they’re putting too large a bet on the return on stocks in later years.
  <br/>
  <cite>
    <a href="http://www.whynot.net/main/mortgage_retirement.pdf" target="_">Mortgage your retirement</a>
  </cite>
</blockquote>
<p>
  Time diversification is a controversial idea which allows for a portfolio to be more volatile earlier when savings can offset losses and winds down leverage as a retirement goal is approached. I don't believe it's unlike the generalized "stock allocation = 120 - your age". A 50% loss with {{preferences.startingBalance | number: '1.0-0':'en-US'}} in savings is difficult to recover from, but if you're saving {{preferences.savingsPerPeriod | number: '1.0-0':'en-US'}} a year, it may be recoverable. If you're a few years from your {{preferences.nestEgg | number: '1.0-0':'en-US'}} retirement, it's a {{preferences.nestEgg / 2 | number: '1.0-0':'en-US'}} loss, which may be catastrophic to retirement goals.
</p>
<blockquote>
  <pre>
  LeverageToUse = BaseLeverage
    - QuadraticDecayFactor(RetirementProgress^2)
    - LinearDecayFactor(RetirementProgress)
  </pre>
</blockquote>
<p>
  Where LeverageToUse is the leverage applied at any given period. RetirementProgress is the current balance / desired nest egg. The closer you are to retirement, the less leverage will be used.
</p>
<p>
  For this example, we add our savings rate of {{preferences.savingsPerPeriod | number: '1.0-0':'en-US'}} to the starting balance of {{preferences.startingBalance | number: '1.0-0':'en-US'}} at the end of each period. We use our random walk returns of {{preferences.goodEvenReturn}} and {{preferences.badEvenReturn}}. Nest egg to track towards will be {{preferences.nestEgg | number: '1.0-0':'en-US'}}. Also instead of a random walk we'll alternate good and bad periods. This ensures the {{preferences.numPeriods}} periods are deterministic and different preferences can be compared more easily. 
</p>
<label>Base Leverage</label>
<input type="number" [(ngModel)]="preferences.timeDiversificationLeverage" (ngModelChange)="refreshTimeDiversification()" [step]="steps.leverageStepSize"><br/>
<label>Quadratic decay factor</label>
<input type="number" [(ngModel)]="preferences.quadraticDecayFactor" (ngModelChange)="refreshTimeDiversification()" [step]="steps.decayFactorStepSize"><br/>
<label>Linear decay factor</label>
<input type="number" [(ngModel)]="preferences.linearDecayFactor" (ngModelChange)="refreshTimeDiversification()" [step]="steps.decayFactorStepSize"><br/>

<app-cash-flow-diagram [cashFlow]="timeDiversificationCashFlow"></app-cash-flow-diagram>
<p>
  {{preferences.savingsPerPeriod * preferences.numPeriods | number: '1.0-0':'en-US'}} has been contributed in savings. {{lastValueOf(timeDiversificationBalance) - preferences.savingsPerPeriod * preferences.numPeriods | number: '1.0-0':'en-US'}} has been contributed through investments. These investment returns have been achieved with our random walk returns of {{preferences.goodEvenReturn}} and {{preferences.badEvenReturn}}, which is effectively a multiplier of {{preferences.goodEvenReturn * preferences.badEvenReturn}}.
</p>


<!--


<h2>Bias vs variance</h2>

Bias vs Variance, picking the ideal allocation.

Bias - how much are we going to pay attention to training data e.g. signals
Variance - how much attention are we going to pay to training data and vary our output

<ul>
  <li>You can look at the past (or not)</li>
  <li>You can perform your own underwriting</li>
  <li>All models are wrong, some are useful (no exceptions are made here)</li>
  <li>This talk doesn't do valuation / prediction, focused on execution given assumption</li>
  
</ul>

<h2>Diversification and Correlation</h2>
<ul>
  <li>Correlation between -1 and 1, where 0 is perfectly uncorrelated, -1 is perfectly inversely correlated, and 1 is perfectly correlated</li>
  <li>Highly correlated / uncorrelated</li>
  <li>Trading against yourself</li>
  <li>Blackjack teams</li>
</ul>


<h2>Portfolio Construction</h2>


<h2>Rebalancing</h2>


<h2>Backtesting Assumptions</h2>

<h2>Loss Aversion, psychological and in practice</h2>

<h1>Personal Finance</h1>
Not a hedge fund, time bound
It's okay to be average


Personal liquidity, money not when you need it

<h2>Time diversification</h2>
120 - age

 saving + investing, change in leverage over time
<h2>Rent vs Buy</h2>

<h2>School or Work</h2>

<h2>Gas or Electric Car</h2>

<h1>
  Retirement
</h1>

<h1>Active trading</h1>
Trading extends beyond stock picking.
There are lots of different products to trade.

<h2>Put and Call options</h2>
<h2>Financial leverage</h2> 

<h2>Debt</h2>Mortgages Inflation hedge
<h2>Inflation</h2>Exchange rate of money to goods
<h2>Volatility</h2>Premiums
<h2>Lending</h2>Earn interest e.g. to a bank, stocks to short sellers

<h2>Things to look out for</h2>
Asymmetric payoffs, feeling like a winner

Median vs Mean outcomes

Risk isn't your friend.

There aren't lucky or unlucky people, just people who bet more or less than they should've. Not being in a crash, or winning the lottery.

Fixed bet. Martingale. Bernoulli's SPB paradox (median outcomes).

Selling on the way down. 

https://mea.pimco.com/en-mea/book-biases/

https://global.pimco.com/en-gbl/insights/economic-and-market-commentary/behavioral-insights/look-left-recognizing-and-managing-loss-aversion-bias

Risk management, walls everywhere vs positions of traders

<h1>Additional resources</h1>
<h2>Youtube</h2>
<h2>Books</h2>


<h2>Quotes</h2>
Don't lose money. Don't forget step 1.

<button (click)="shuffle()">Shuffle</button>
<app-cash-flow-diagram [cashFlow]="chartData"></app-cash-flow-diagram>
-->

</mat-card-content>
</mat-card>