<div class="hero">
  <figure>
    <img [src]="images.getAssetUrl('life-events-splash.png')" alt="">
  </figure>
  <div class="subtitle ">Life Events</div>
  <h1 class="title">Play your game of life.</h1>
  <p class="you-can-t-pick-from">
    You can’t pick from a deck of cards and let that define your future, but you can dream of all the cards that
    could appear in the life ahead. A fancy car, a nice big house, college tuition for children... By spending a
    little time thinking (fascinating) about your future, you can start painting a clearer picture of what you’ll
    need to get there<br /><br />Below you will find your current life events.&nbsp;&nbsp;Each time you add or
    change a life event, your retirement confidence will change. To see how each life event affects your retirement
    outlook, open the calculator below.
  </p>
</div>

<div class="auth">
  <button mat-button *ngIf="!lifeEventsService.databaseService.auth.currentUser" 
    (click)="lifeEventsService.login()">
    Login to Save <mat-icon>login</mat-icon>
  </button>
  
  <button mat-button *ngIf="lifeEventsService.databaseService.auth.currentUser" 
    (click)="lifeEventsService.logout()">
    Logout <mat-icon>logout</mat-icon>
  </button>
  <a mat-button [routerLink]="routingService.mapper.createAlternativeScenariosRoute()">
    Manage Saved Scenarios <mat-icon>folder_managed</mat-icon>
  </a>
  <button mat-button *ngIf="lifeEventsService.databaseService.auth.currentUser" 
    (click)="lifeEventsService.delete()">
    Delete Active Scenario<mat-icon>delete_forever</mat-icon>
  </button>
  <button mat-button *ngIf="lifeEventsService.databaseService.auth.currentUser" 
    (click)="lifeEventsService.load()">
    Load Plan<mat-icon>download</mat-icon>
  </button>
  <button mat-button *ngIf="lifeEventsService.databaseService.auth.currentUser" 
    (click)="lifeEventsService.save()">
    Save Plan Online<mat-icon>save</mat-icon>
  </button>
</div>  
<div class="label">Your current life events</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" preserveContent>
  <mat-tab label="Cards">
    <section class="cards" *ngIf="lifeEventsService.selectedLifeEvents | async as selectedLifeEvents">
      <ng-container *ngFor="let lifeEvent of selectedLifeEvents;let i = index">
          <app-maya-life-event-card actionable="true" [lifeEvent]="lifeEvent"></app-maya-life-event-card>
      </ng-container>
      <mat-card class="card add">
        <mat-card-content>
          Add a life event
          <br>
          <br>
          <a mat-fab color="primary" [routerLink]="routingService.mapper.createLifeEventsListRoute()">
            <mat-icon>add</mat-icon>
          </a>
        </mat-card-content>
      </mat-card>
    </section>
  </mat-tab>
  <mat-tab label="Timeline">
    <app-life-event-timeline></app-life-event-timeline>
  </mat-tab>
</mat-tab-group>


<!-- <section>
  <button mat-button (click)="promptNumberOfYears()">Years</button> <button mat-button (click)="promptNumberOfSimulations()">Simulations</button>
</section> -->

<mat-card class="footer" (click)="openBottomSheet()">
  <mat-card-content>
    <dl *ngIf="muxs.nestEgg | async as nestEgg">
      <dt>Peak<br>Wealth</dt>
      <dd>{{nestEgg}}</dd>
    </dl>
    <dl *ngIf="muxs.retirementAge | async as retirementAge">
      <dt>Peak Year<br>of Wealth</dt>
      <dd>{{retirementAge}}</dd>
    </dl>
    <dl *ngIf="muxs.retirementConfidence | async as retirementConfidence" class="retirement-confidence">
      <dt>Retirement Confidence
        <p>This reflects the percentage of simulated futures where your finances stay above zero, higher is more secure.</p>
      </dt>
      
      
      <dd>
        <div class="hollow-circle"></div>
        <mat-progress-spinner
          mode="determinate"
          color="accent"
          [value]="retirementConfidence">
        </mat-progress-spinner>
        <span class="label">{{retirementConfidence}}%</span>
      </dd>
      
    </dl>
    <div class="expand">
      See how your life events affect your retirement confidence
      <button mat-fab
        color="primary"
        aria-label="Expand results">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

    
  </mat-card-content>
</mat-card>
