
<ng-container *ngIf="balance | async as balance">
  <app-line-chart [chartData]="balance.chartData" [legend]="{show:false}"></app-line-chart>
</ng-container>
<div class="inputs">
  <mat-form-field >
    <mat-label>Periods</mat-label>
    <input matInput name="numPeriods" [formControl]="controls.numPeriods" step="1" min="0" type="number" /><br/>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Starting Investment</mat-label>
    <input matInput name="balance" [formControl]="controls.initialBalance" step=".01" type="number" /><br/>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Withdrawal Rate</mat-label>
    <input matInput name="withdrawalRate" [formControl]="controls.withdrawalRate" step=".01" type="number" /><br/>
  </mat-form-field>  
</div>
<markdown ngPreserveWhitespaces>
  # Evaluating Withdrawal Rate Over a Variable Length Retirement Horizon

  When planning for retirement, one of the most important decisions is how much money you can safely withdraw from your nest egg each year. This is known as the withdrawal rate. The withdrawal rate that you choose will have a big impact on how long your money lasts, so it's important to get it right.
  
  There are a number of factors that can affect the safe withdrawal rate, including inflation, equity risk, interest rates, and whether or not you own your home. In this article, we'll discuss the quantitative approach to evaluating withdrawal rate over a variable length retirement horizon.
  
  ## Inflation
  
  Inflation is the rate at which prices for goods and services increase over time. This means that if you withdraw a fixed amount of money each year, your purchasing power will decrease over time. To account for inflation, you need to withdraw a percentage of your nest egg that is greater than the inflation rate.
  
  ## Equity Risk
  
  Equity risk is the risk that the value of your investments in stocks and other equities will go down. If the value of your investments goes down, your withdrawal rate will need to be lower in order to avoid running out of money.
  
  ## Interest Rates
  
  Interest rates can also affect the safe withdrawal rate. If interest rates are high, your nest egg will grow faster, which means that you can withdraw a higher percentage of your money each year. However, if interest rates are low, your nest egg will grow more slowly, which means that you'll need to withdraw a lower percentage of your money each year.
  
  ## Home Ownership
  
  Whether or not you own your home can also affect the safe withdrawal rate. If you own your home, you won't have to pay rent, which can free up some money to withdraw each year. However, you'll also need to factor in the cost of property taxes, maintenance, and repairs.
  
  ## The 4% Rule
  
  The 4% rule is a rule of thumb that is often used to determine a safe withdrawal rate. The rule states that you can withdraw 4% of your nest egg in the first year of retirement and then adjust that amount for inflation each year. However, the 4% rule is just a rule of thumb, and it may not be safe for everyone.
  
  ## The Quantitative Approach
  
  The quantitative approach to evaluating withdrawal rate is a more rigorous way to determine a safe withdrawal rate. This approach uses Monte Carlo simulations to project how long your money will last under different withdrawal rates and market conditions.
  
  Monte Carlo simulations are a type of computer simulation that is used to generate random numbers. These random numbers are then used to model the uncertainty of future market returns. By running multiple Monte Carlo simulations, you can get a sense of how likely it is that your money will last for your desired retirement horizon.
  
  ## Benefits of Confidence Intervals and Monte Carlo Simulation
  
  The benefits of using confidence intervals and Monte Carlo simulation to evaluate withdrawal rate include:
  
  - They provide a more accurate estimate of the probability that your money will last for your desired retirement horizon.
  - They can help you to identify the withdrawal rate that is right for you, given your individual circumstances.
  - They can help you to adjust your withdrawal rate as your circumstances change.
  
  ## Conclusion
  
  The quantitative approach to evaluating withdrawal rate is a more rigorous way to determine a safe withdrawal rate. This approach uses Monte Carlo simulations to project how long your money will last under different withdrawal rates and market conditions. The benefits of using confidence intervals and Monte Carlo simulation include that they provide a more accurate estimate of the probability that your money will last for your desired retirement horizon, they can help you to identify the withdrawal rate that is right for you, given your individual circumstances, and they can help you to adjust your withdrawal rate as your circumstances change.
</markdown>