@mixin app-layouts ($theme) {
  $foreground: map-get($my-app-theme, foreground);
  $background: map-get($my-app-theme, background);

  .logo {
    color: mat-color($foreground, hint-text);
    margin: 0 auto;

  }

  .spacer {
    flex-grow: 1;
    display: none;
  }


  .term {
    font-weight: 500;
  }

  .mat-card-header-text {
      margin: 0;
  }

  .mat-sidenav-container {
    min-height: 100%;
  }

  .byline {
    // background: #f5f5f5;
    padding: 2rem 1rem 50vh;
    text-align: center;
    margin-top: 1rem;
  }


  mat-toolbar-row {
    display: flex;
    flex: 1; 
    flex-direction: row;
    text-align: center;

    &:first-child {
      padding: .75rem;
      background: mat-color($foreground, text);

      a {
        color: mat-color($background, app-bar);
      }
    }

    span {
      margin: .5rem;
      display: flex;
      flex: 1;
      justify-content: space-around;

    }
  }
}