<mat-toolbar>
  <mat-toolbar-row>
    <a title="" class="logo" href="/">Red then Black</a>
    <span class="spacer"></span>
    <!--
    <button mat-icon-button aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share">
      <mat-icon>share</mat-icon>
    </button>
    -->
  </mat-toolbar-row>

  <!--
  <mat-toolbar-row>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      </button>
    <span>Second Line</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  -->
</mat-toolbar>

<!-- Creates a layout with a left and right sidenav and implicit content. -->
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>
    <router-outlet></router-outlet>
  </section>

  <div class="byline">
    Why create <a href="/pitch">Red then Black</a>?
    <br/>
    Please <a href="https://www.linkedin.com/in/terranleung/">contact</a> if there are any questions!
  </div>
</mat-sidenav-container>

