@mixin app-layouts ($theme) {
  $foreground: map-get($my-app-theme, foreground);
  $background: map-get($my-app-theme, background);

  .logo {
    color: mat-color($foreground, hint-text);
  }


  .term {
    font-weight: 500;
  }

  .mat-card-header-text {
      margin: 0;
  }

  .mat-sidenav-container {
    min-height: 100%;
  }

  .spacer {
      flex-grow: 1;
  }
}