<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>RtB</span>
      <span class="spacer"></span>
      
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>

    <!--
    <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
      <span>Second Line</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    -->
  </mat-toolbar>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Find your retirement</mat-card-title>
      <mat-card-subtitle>Determine amount, time, and confidence required to satisfy retirement with simulations. </mat-card-subtitle>  
    </mat-card-header>
    
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Get started</button>
    </mat-card-actions>
  </mat-card>



  <section class="cards timeboxes">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Saving</mat-card-title>
        <mat-card-subtitle>
          Traditionally setting money aside for the future </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Rate</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Stocks</mat-card-title>
        <mat-card-subtitle>  Investing with leverage into the S&P 500
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button>Leverage</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Saving</mat-card-title>
        <mat-card-subtitle>
          Traditionally setting money aside for the future </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Rate</button>
      </mat-card-actions>
    </mat-card>

  </section>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Red then Black</mat-card-title>
      <mat-card-subtitle>Personalized Algorithmic Financial Strategy</mat-card-subtitle>  
    </mat-card-header>
    
    <mat-card-content>
      <p>
      Retirement planning uses inappropriate approximations where details matter, most notably 8-10% market returns. Prolonged ignorance and lack of education exacerbates the problem, causing either (1) a direct negative impact to financial health or (2) inactivity and time out of the market ensuring retirement goals cannot be achieved within a lifetime. 
      </p>
      <p>
      Specifically facing this problem are millennials, many who have faced two economic recessions, suffer from student loan debt, and are trying to build families and take care of their aging parents. The decisions they make today will drastically affect their future, near and into retirement. Tools are required to evaluate suitability of different options. 
      </p>
      <p>
      Tools exist for specific domains - mortgage lenders provide mortgage calculators, investment institutions provide crude estimates of annual compounded returns with their products. The holistic integration tool of the specific domains doesn’t exist.
      </p>
      <mat-divider></mat-divider>
      <br/>
      <p>
        Algorithmic solutions exist for problems given assumptions. Two straightforward methods of modeling decisions and simulated outcomes are (1) markov decision processes and (2) monte carlo analysis. Developing heuristics for suitable solutions may be achieved through reinforcement learning and understandable models such as lookup tables or decision trees. 
      </p>
      <p>
        Problem frameworks may be devised with suitable parameters specified. Utility theory provides a nomenclature for non engineers to describe the ‘bit flips’ of their life, modeling decisions to make and tradeoffs expected. Understandable models provide resistance to behavioral biases and improved adherence.
      </p>
      <p>
        Relatively basic algorithms can provide significant advantages in holistically exploring the probabilistic space for an individual at low cost. Further a standardized parameter set enables enlightened conversation across individuals and with financial professionals.
      </p>




    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Get started</button>
    </mat-card-actions>
  </mat-card>



