
  <mat-card>
    <mat-card-header>
      <mat-card-title>Find your retirement</mat-card-title>
      <mat-card-subtitle>Determine amount, time, and confidence required to satisfy retirement with simulations. </mat-card-subtitle>  
    </mat-card-header>
    
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="parametersRoute" mat-flat-button color="primary">Get started</a>
    </mat-card-actions>
  </mat-card>



  <section class="cards timeboxes">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Millionaire</mat-card-title>
        <mat-card-subtitle>
          The math to a million </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/millionaire" mat-stroked-button>Find out</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Peak</mat-card-title>
        <mat-card-subtitle>
          Determine your nest egg </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/egg" mat-stroked-button>Find the egg</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Stocks</mat-card-title>
        <mat-card-subtitle>  Investing into the S&P 500
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button>Investing leverage</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Working</mat-card-title>
        <mat-card-subtitle>
          Number of years spent generating savings </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Years of saving</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Retirement</mat-card-title>
        <mat-card-subtitle>
          Number of years spent in retirement </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Years in retirement</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Savings</mat-card-title>
        <mat-card-subtitle>
          Proportion of after tax income set aside for savings </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Proportion of income</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Homeowner</mat-card-title>
        <mat-card-subtitle>
          How much 'home' can you afford </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Calculate your close</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Masters</mat-card-title>
        <mat-card-subtitle>
          Impact of a career change from an additional degree </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Alternative income</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Elderly</mat-card-title>
        <mat-card-subtitle>
          Taking care of your parents in their senior years </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Emergency funds</button>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Childcare</mat-card-title>
        <mat-card-subtitle>
          Putting money aside for your kids' future </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Number of kids</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Happiness</mat-card-title>
        <mat-card-subtitle>
          Explore the impact of time vs money for your future happiness </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Tradeoffs</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Red then Black</mat-card-title>
      <mat-card-subtitle>Personalized Algorithmic Financial Strategy</mat-card-subtitle>  
    </mat-card-header>
    
    <mat-card-content>
      <p>
        Algorithmic solutions exist for specific financial problems given assumptions. Two straightforward methods of modeling decisions and simulated outcomes are (1) markov decision processes and (2) monte carlo analysis. Developing heuristics for suitable solutions may be achieved through reinforcement learning and understandable models such as lookup tables or decision trees. 
      </p>
      <p>
        Problem frameworks may be devised with suitable parameters specified. Utility theory provides a nomenclature for non engineers to describe the ‘bit flips’ of their life, modeling decisions to make and tradeoffs expected. Understandable models provide resistance to behavioral biases and improved adherence.
      </p>
      <p>
        Relatively basic algorithms can provide significant advantages in holistically exploring the probabilistic space for an individual at low cost. Further a standardized parameter set enables enlightened conversation across individuals and with financial professionals.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Learn more about RtB</button>
    </mat-card-actions>
  </mat-card>



