
  <mat-card>
    <mat-card-header>
      <mat-card-title>Find your retirement</mat-card-title>
      <mat-card-subtitle>Determine amount, time, and confidence required to satisfy retirement with simulations. </mat-card-subtitle>  
    </mat-card-header>
    
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="parametersRoute" mat-flat-button color="primary">Get started</a>
    </mat-card-actions>
  </mat-card>



  <section class="cards timeboxes">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Millionaire</mat-card-title>
        <mat-card-subtitle>
          The math to a million </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/millionaire" mat-stroked-button>Find out</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Saver</mat-card-title>
        <mat-card-subtitle>
          The risk of saving without investing </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/saver" mat-stroked-button>Find out</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Peak</mat-card-title>
        <mat-card-subtitle>
          Determine your nest egg </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/egg" mat-stroked-button>Find the egg</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Stocks</mat-card-title>
        <mat-card-subtitle>  Investing into the S&P 500
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/params/leverage" mat-stroked-button>Investing leverage</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Working</mat-card-title>
        <mat-card-subtitle>
          Number of years spent generating savings </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/working" mat-stroked-button>Years of working</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Retirement</mat-card-title>
        <mat-card-subtitle>
          Number of years spent in retirement </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/retirement" mat-stroked-button>Years in retirement</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Savings</mat-card-title>
        <mat-card-subtitle>
          Proportion of after tax income set aside for savings </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <a routerLink="/params/income" mat-stroked-button>Proportion of income</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Homeowner</mat-card-title>
        <mat-card-subtitle>
          How much 'home' can you afford </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Calculate your close (not yet available)</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Masters</mat-card-title>
        <mat-card-subtitle>
          Impact of a career change from an additional degree </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Alternative income (not yet available)</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Elderly</mat-card-title>
        <mat-card-subtitle>
          Taking care of your parents in their senior years </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Emergency funds (not yet available)</button>
      </mat-card-actions>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Childcare</mat-card-title>
        <mat-card-subtitle>
          Putting money aside for your kids' future </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Number of kids (not yet available)</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Happiness</mat-card-title>
        <mat-card-subtitle>
          Explore the impact of time vs money for your future happiness </mat-card-subtitle>  
      </mat-card-header>
      
      <mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button>Tradeoffs (not yet available)</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Red then Black</mat-card-title>
      <mat-card-subtitle>Personalized Algorithmic Financial Strategy</mat-card-subtitle>  
    </mat-card-header>
    
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/pitch" color="primary" mat-flat-button>Why RtB?</a>
    </mat-card-actions>
  </mat-card>



