:host {
  padding: 1rem;
  display: block;


  .pin {
    display: block;
  }

  .actions {
    float: right;
  }

  .visibility {
    float: left;

  }

  .details {
    // margin-left: 2.5rem;
  }

  .edit mat-icon {
    font-size: .75rem;
    line-height: 1.25rem;
  }

  .mat-form-field {
    // display: block;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .save {
    margin: .5rem 0;
  }
}
