<div *ngIf="parameters | async as parameters">
  <div class="title">
    {{parameters.title}}
  </div>
  <p class="description">
    {{parameters.description}}
  </p>

  <div *ngFor="let pin of pinsService.allPinsByYears()">

    <div class="actions">


      <button *ngIf="pin.active" class="visibility hide" mat-icon-button
        (click)="pin.active = false;findMyRetirementService.updateRetirementPreferences({});">
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="!pin.active" class="visibility select" mat-icon-button
        (click)="pin.active = true;findMyRetirementService.updateRetirementPreferences({});">
        <mat-icon>visibility_off</mat-icon>
      </button>

      <button class="remove" mat-icon-button
        (click)="pinsService.removePin(pin);findMyRetirementService.updateRetirementPreferences({})">
        <mat-icon>close</mat-icon>
      </button>

    </div>


    <div class="details"> <b>[{{pin.years}}y] {{pin.id}}</b>
      <button class="edit" mat-icon-button
        (click)="name.value = pin.id;years.value = pin.years; amount.value = pin.amount;">
        <mat-icon>edit</mat-icon>
      </button>
      <br />
      <div class="amount"> {{pin.amount}} </div>
    </div>

  </div>

  <form ngForm
    (submit)="pinsService.addPin({active: true, id: name.value, years:years.value, amount: amount.value});$event.preventDefault();findMyRetirementService.updateRetirementPreferences({})"
    [action]="parameters.href" method="GET">

    <mat-form-field>
      <mat-label>
        Years ahead
      </mat-label>
      <input #years matInput name="years" type="number" placeholder="5">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Amount required
      </mat-label>
      <input matInput #amount name="amount" type="number" placeholder="200000">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Event name
      </mat-label>
      <input matInput #name name="name" type="text" placeholder="Down payment">
    </mat-form-field>

    <br />
    <button class="save" mat-flat-button type="submit" color="primary">Pin event</button>
  </form>

</div>