<div *ngIf="parameters | async as parameters">
    <div class="title">
      {{parameters.title}}
    </div>
    <p class="description">
      {{parameters.description}}
    </p>
    <form ngForm (submit)="paramSubmit(parameters, $event)" [action]="parameters.href" method="GET">
        <mat-form-field appearance="standard"
            *ngFor="let input of parameters.inputs">
          <mat-label *ngIf="input.label">
            {{input.label}} 
            <span *ngIf="input.tooltip" [title]="input.tooltip"><mat-icon>info</mat-icon> ({{input.tooltip}})</span>
          </mat-label>

          <input matInput 
          [name]="input.name" 
          type="number"
          [step]="input.step ? input.step : .1"
          [placeholder]="input.placeholder"
          [value]="input.value || this.findMyRetirementService.retirementPreferences[input.name]">
          <mat-hint *ngIf="input.startHint" 
            align="start"><strong>{{input.startHint}}</strong> </mat-hint>
          <mat-hint *ngIf="input.endHint" 
            align="end">{{input.endHint}}</mat-hint>
        </mat-form-field>
        
        <button class="save" mat-flat-button 
        type="submit" 
        color="primary">Submit</button>
      </form>
      
</div>