<markdown ngPreserveWhitespaces>
# Continuing a Profession vs Going Back to School, how to Evaluate the Tradeoff

Making the decision to go back to school can be a difficult one. There are many factors to consider, including the cost of tuition, lost wages, the potential increase in earnings after graduation, and the personal fulfillment that comes from learning and achieving. A quantitative approach can help you to weigh the pros and cons of going back to school and make an informed decision.

## The Cost of Tuition

The cost of tuition is one of the biggest factors to consider when making the decision to go back to school. The cost of tuition varies depending on the school, the program, and the type of degree you are seeking. For example, the cost of tuition for a master's degree in business administration (MBA) can range from $20,000 to $100,000 or more.

## Lost Wages

Another factor to consider is the cost of lost wages. If you go back to school full-time, you will likely have to give up your current job. This means that you will lose your current income, which can be a significant financial burden.

## Increased Earnings After Graduation

One of the main reasons people go back to school is to increase their earning potential. In general, people with higher levels of education earn more money than those with lower levels of education. However, it is important to note that the increase in earnings after graduation is not always immediate. It may take several years to recoup the cost of tuition and lost wages.

## Other Factors to Consider

In addition to the cost of tuition, lost wages, and increased earnings, there are other factors to consider when making the decision to go back to school. These factors include:

- The potential for career advancement
- The opportunity to explore new career paths
- The personal fulfillment that comes from learning and achieving

## Quantitative Approach

A quantitative approach can help you to weigh the pros and cons of going back to school and make an informed decision. To do this, you will need to gather data on the cost of tuition, lost wages, and increased earnings. You can also gather data on the potential for career advancement and the opportunity to explore new career paths. Once you have gathered this data, you can use a financial calculator to calculate the net present value (NPV) of going back to school.

The NPV is a measure of the future value of an investment. In this case, the investment is the cost of going back to school. The NPV is calculated by discounting the future earnings from going back to school by the cost of tuition, lost wages, and other factors. If the NPV is positive, then going back to school is a good financial decision. If the NPV is negative, then going back to school is not a good financial decision.

## How to Calculate the NPV of Going Back to School

The following formula can be used to calculate the NPV of going back to school:

```
NPV = (Future Earnings - Cost of Tuition - Lost Wages) / (1 + Discount Rate)^Years
```
- Future Earnings: This is the amount of money you expect to earn after graduating from school.
- Cost of Tuition: This is the total cost of tuition for the program you are considering.
- Lost Wages: This is the amount of money you would have earned if you had stayed in your current job instead of going back to school.
- Discount Rate: This is the rate at which you discount future earnings. A higher discount rate means that you place less value on future earnings.
- Years: This is the number of years you expect to work after graduating from school.
## Example

Let's say you are considering going back to school to get a master's degree in business administration (MBA). The cost of tuition for the program is $50,000. You expect to earn $100,000 per year after graduating. You would have earned $50,000 per year if you had stayed in your current job. You use a discount rate of 5%. You expect to work for 30 years after graduating.

The NPV of going back to school in this case is $125,575. This means that, in financial terms, it is a good decision for you to go back to school.

## Conclusion

Making the decision to go back to school is a personal one. There is no right or wrong answer. However, a quantitative approach can help you to weigh the pros and cons


## The Role of Fulfillment in the Decision

In addition to the financial factors, it is also important to consider the personal fulfillment that comes from learning and achieving. If you are passionate about a particular field of study, then going back to school can be a great way to pursue your dreams. It can also be a rewarding experience to learn new things and challenge yourself intellectually.

Of course, the decision of whether or not to go back to school is a personal one. There is no right or wrong answer. However, if you are considering going back to school, it is important to weigh all of the factors involved, including the financial and personal fulfillment aspects.
</markdown>