<!--
    <p>article works!</p>
<div markdown ngPreserveWhitespaces>
# Markdown
</div>
-->
<section>
<div *ngIf="showNavigation | async">
    <button mat-flat-button 
        (click)="routingService.back()" 
        aria-label="Back to previous">
        <mat-icon >chevron_left</mat-icon> 
        Back to previous
    </button>
</div>
<ng-container *ngIf="articles | async as articles">
    <ng-container *ngFor="let article of articles;">
        <mat-card appearance="outlined">
            <mat-card-content>
                <article markdown [src]="article" (load)="onLoad()" (error)="onError()"></article>
            </mat-card-content>
        </mat-card>
    </ng-container>    
</ng-container>


<div *ngIf="showNavigation | async">
    <button mat-flat-button 
        (click)="routingService.back()" 
        aria-label="Back to previous">
        <mat-icon >chevron_left</mat-icon> 
        Back to previous
    </button>
</div>
</section>
