:host {
  img {
    height: 68px;
  }

  mat-toolbar {
    margin-bottom: 1rem;
  }

  mat-toolbar-row {
    justify-content: center;
  }

  > .main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
}
