<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main">
  <header>
    <a class="logo" [routerLink]="routingService.mapper.createMayaRoute()">
      <img src="assets/images/logo.jpg" alt="R/B">
    </a>

    <div class="spacer"></div>
    

    <div class="account">
      <span class="red rectangle"></span>
      <span class="tagline">Plan your future.</span>

      <!-- <p>
        <button mat-button *ngIf="!lifeEventsService.firebaseService.auth.currentUser" 
          (click)="lifeEventsService.login()">
          Login <mat-icon>login</mat-icon>
        </button>
        <button mat-button *ngIf="lifeEventsService.firebaseService.auth.currentUser" 
          (click)="lifeEventsService.logout()">
          Logout <mat-icon>logout</mat-icon>
        </button>
      </p> -->
    </div>
  </header>
  
  <router-outlet></router-outlet>
</div>
<footer>
  <details>
    <summary>Legacy Links</summary>
    <ul>
      <li><a [routerLink]="[routingService.mapper.createMayaCalculatorList()]">Calculators</a></li>
      <li><a [routerLink]="[routingService.mapper.createLearnRoute()]">Learn</a></li>
      <li><a [routerLink]="[routingService.mapper.createRetirementRoute()]">Retirement</a></li>
      <li><a [routerLink]="[routingService.mapper.createGameRoute()]">Game</a></li>
      <li><a [routerLink]="[routingService.mapper.createEditorRoute()]">Editor</a></li>
    </ul>    
  </details>
</footer>
