<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-drawer-container>
<mat-drawer #drawer mode="over" position="end">
  <mat-list>
    <a mat-list-item [routerLink]="routingService.mapper.createLifeEventsRoute()"
    [routerLinkActive]="['is-active']">
      <span matListItemTitle>Life Events</span>
      <span>Life events currently being planned</span>
    </a>

    <a mat-list-item [routerLink]="routingService.mapper.createAlternativeScenariosRoute()"
    [routerLinkActive]="['is-active']">
      <span matListItemTitle>Profile</span>
      <span matListItemLine>Active Scenario, Saved Scenarios</span>
    </a>

    <a mat-list-item [routerLink]="routingService.mapper.createEcsGalleryRoute()"
    [routerLinkActive]="['is-active']">
      <span matListItemTitle>Gallery</span>
      <span>Visual representating of each model</span>
    </a>

    <a mat-list-item [routerLink]="routingService.mapper.createMayaCalculatorList()"
    [routerLinkActive]="['is-active']">
      <span matListItemTitle>Articles</span>
      <span matListItemLine>Articles for how the models work</span>
    </a>
<!-- 
    <a mat-list-item [routerLink]="routingService.mapper.createLearnRoute()"
    [routerLinkActive]="['is-active']">
      <span matListItemTitle>Philosophy</span>
      <span matListItemLine>Introduction for our approach to retirement</span>
    </a> -->
  </mat-list>
  
</mat-drawer>
<mat-drawer-content class="main">
  <header>
    <a class="logo" [routerLink]="routingService.mapper.createMayaRoute()">
      <img src="assets/images/logo.jpg" alt="R/B">
    </a>

    <div class="spacer"></div>
    

    <button class="nav" mat-flat-button (click)="drawer.toggle()">
      <span class="label">
        <span class="red rectangle"></span>
        <span class="tagline">Plan your future.</span>
      </span>
      
      

      <!-- <p>
        <button mat-button *ngIf="!lifeEventsService.firebaseService.auth.currentUser" 
          (click)="lifeEventsService.login()">
          Login <mat-icon>login</mat-icon>
        </button>
        <button mat-button *ngIf="lifeEventsService.firebaseService.auth.currentUser" 
          (click)="lifeEventsService.logout()">
          Logout <mat-icon>logout</mat-icon>
        </button>
      </p> -->
    </button>
  </header>
  
  <router-outlet></router-outlet>
</mat-drawer-content>>
<footer>
  <details>
    <summary>Legacy Links</summary>
    <ul>
      <li><a [routerLink]="[routingService.mapper.createMayaCalculatorList()]">Calculators</a></li>
      <li><a [routerLink]="[routingService.mapper.createLearnRoute()]">Learn</a></li>
      <li><a [routerLink]="[routingService.mapper.createRetirementRoute()]">Retirement</a></li>
      <li><a [routerLink]="[routingService.mapper.createGameRoute()]">Game</a></li>
      <li><a [routerLink]="[routingService.mapper.createEditorRoute()]">Editor</a></li>
    </ul>    
  </details>
</footer>
</mat-drawer-container>