<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main">
  <header>
    <a [routerLink]="routingService.mapper.createMayaRoute()">
      <img src="assets/images/logo.jpg" alt="R/B">
    </a>
  </header>
  
  <router-outlet></router-outlet>
</div>
<footer>
  <details>
    <summary>Legacy Links</summary>
    <ul>
      <li><a [routerLink]="[routingService.mapper.createLearnRoute()]">Learn</a></li>
      <li><a [routerLink]="[routingService.mapper.createRetirementRoute()]">Retirement</a></li>
      <li><a [routerLink]="[routingService.mapper.createGameRoute()]">Game</a></li>
      <li><a [routerLink]="[routingService.mapper.createEditorRoute()]">Editor</a></li>
    </ul>    
  </details>
</footer>
