:host {
  padding: .5rem 0;
  background: #fff;
  
  img {
    height: 68px;
  }
  .spacer {
    display: flex;
    flex: 1;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav {
    padding: 2rem 0.5rem;
  }
  .nav, 
  .label {
    display: flex;
    align-items: center;
  }
  .rectangle {
    display: block;
    width: 29.5px;
    height: 33.6px;
    background: #FD5053;
    rotate: 9deg;
    position: relative;
    left: 20px;
  }

  .tagline {
    position: relative;
    font-weight: 700;
    font-size: 20.05px;
    line-height: 27.39px;
  }

  mat-toolbar {
    margin-bottom: 1rem;
    height: auto;;
  }

  mat-toolbar-row {
    justify-content: center;
    white-space: normal;
    text-align: center;
    height: auto;
  }

  .main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }

  footer {
    padding: 1rem 1rem 12rem;
    margin: 0 auto;
    max-width: 1200px;
  }

  mat-drawer-content,
  .mat-drawer-container {
    background-color: #fff;
  }

  .mat-drawer-container {
    min-height: 100vh;
  }

  .mdc-list-item.is-active span{
    font-weight: bold;
  }
  .mdc-list-item:hover {
    background-color: #eee;
  }
  .mdc-list-item {
    
    cursor: pointer;
  }

}
