<a class="back" [routerLink]="routingService.mapper.createLifeEventsRoute()">
  <mat-icon>keyboard_backspace</mat-icon> Life Events
</a>
<br>

<div class="active-scenario">
  <h2>Active Scenario for Simulator</h2>
  <ng-container *ngIf="activeScenario | async as activeScenario">
    
    <span *ngFor="let component of activeScenario.components;let isLast=last">
      {{component.key}}{{isLast ? '' : ', '}}
    </span>
    <br><br>
    <button (click)="convertSavedActiveScenarioToAlternativeScenario()"
      color="primary"
      mat-flat-button>Save to Alternatives</button>
  </ng-container>
  
</div>
<br>
<div class="alternative-scenarios">
  <h2>Alternative Scenarios</h2>

  <ng-container *ngIf="alternativeScenarios | async as docs">
    <ng-container *ngFor="let doc of docs">
      
      <fieldset>
        <legend title="{{doc.id}}">
          <b>{{doc.data().title}}</b>
        </legend>
        <span *ngFor="let component of doc.data().components;let isLast=last">
          {{component.key}}{{isLast ? '' : ', '}}
        </span>
        
        <br>
        <div class="actions">
          <a mat-button [routerLink]="routingService.mapper.createShareScenarioRoute(doc.id)"
            mat-stroked-button>To Shareable Page</a>
          <button (click)="convertAlternativeScenarioToActiveScenario(doc.id)"
          color="primary"
            mat-stroked-button>Set Active for Simulator</button>
            
          <button (click)="deleteAlternativeScenario(doc.id)"
            color="accent"
            mat-stroked-button>Delete</button>
        </div>
      </fieldset>
      
    </ng-container>
  </ng-container>
</div>