.back {
  color: #000;
  font-family: Manrope;
  font-size: 1.12813rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  text-decoration: none;
  line-height: 1rem;
  display: flex;
  flex: 1;
  align-items: center;
  
  .mat-icon {
    font-size: 2rem;
    height: auto;
    width: auto;
  }
}