<figure>
  <div class="placeholder">

  </div>
</figure>
<aside>
  Helpful Calculators
</aside>
<article *ngIf="lifeEvent| async as lifeEvent">
  <div class="subtitle ">Life Events</div>
  <h1 class="title">{{lifeEvent.name}}</h1>

  
  <ng-container *ngFor="let field of lifeEvent.fields">
    <mat-form-field>
      <mat-label>
        {{field.name}}
      </mat-label>
      <input matInput
      type="number" 
      [name]="field.name"/>
    </mat-form-field>
  </ng-container>
  <br>
  <button mat-button (click)="addLifeEvent($event, lifeEvent)">Save</button>
  
  
</article>


