<figure>
  <div class="placeholder">

  </div>
</figure>
<aside>
  Helpful Calculators
</aside>
<article *ngIf="editableLifeEvent| async as ele">
  <div class="subtitle ">Life Events</div>
  <h1 class="title">{{ele.lifeEvent.name}}</h1>

  <form ngForm (submit)="saveForm($event, ele)">
  <ng-container *ngFor="let field of ele.lifeEvent.fields">
    <mat-form-field>
      <mat-label>
        {{field.name}}
      </mat-label>
      <input matInput
      type="number" 
      [name]="field.name"/>
    </mat-form-field>
  </ng-container>
  <br>
  <button mat-button>Save</button>
</form>  
  
</article>


