
@mixin maya-layout {

  body {
    font-family: 'Manrope', sans-serif;

  }

  @media screen and (max-width: 959px) {

  }


  .split.layout {
    display: flex;
    flex: 1;
    flex-direction: row;
    
    & > * {
      display: flex;
      flex: 2;
      flex-direction: column;
    }

    & > *:first-child {
      flex: 2;
    }
  }

  details {
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
  }

  app-maya-layout {
    display: block;
    min-height:100vh;
    box-sizing: border-box;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;

    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }

  h1 {
    font-size: 57.05px;
    line-height: 78px;
  }

  h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 25px;
  }

  h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
  }

  markdown li,
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #000000;

  }
  hgroup {
    .title {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 800;
      font-size: 57.05px;
      line-height: 78px;
      margin: 0;
      padding: 0;
      color: #000000;
    }
  
    .subtitle {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 800;
      font-size: 18.05px;
      line-height: 25px;
      margin: 0;
      padding: 0;
      /* identical to box height */
  
  
      color: #FD5053;
    }

    .caption {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;

      color: #000000;
    }
  
  }
  
  .label {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;
  }

  .value {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;
  }

  .cdk-overlay-container {
    .full-width {
      width: 100vw;
    }
    .mat-bottom-sheet-container {
      max-width: none;
    }
  }
  

}