
@use '@angular/material' as mat;

$dark-primary-text: rgba(black, 0.87);

$light-primary-text: white;

$rtb-red-palette: (
  50: #ffebef,
  100: #ffced4,
  200: #f89b9d,
  300: #f17376,
  400: #fd5053,
  500: #ff3c37,
  600: #f53237,
  700: #e22631,
  800: #d51d29,
  900: #c60b1d,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
 contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $dark-primary-text,
  400: $dark-primary-text,
  500: $light-primary-text,
  600: $light-primary-text,
  700: $light-primary-text,
  800: $light-primary-text,
  900: $light-primary-text,
  A100: $dark-primary-text,
  A200: $light-primary-text,
  A400: $light-primary-text,
  A700: $light-primary-text,
 )
);


$rtb-blue-palette: (
  50: #e4eefe,
  100: #bed5fc,
  200: #96bbfa,
  300: #73a0f4,
  400: #638ced,
  500: #5c79e5,
  600: #5a6bd6,
  700: #5659c1,
  800: #5148ad,
  900: #48278b,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
 contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $dark-primary-text,
  400: $dark-primary-text,
  500: $light-primary-text,
  600: $light-primary-text,
  700: $light-primary-text,
  800: $light-primary-text,
  900: $light-primary-text,
  A100: $dark-primary-text,
  A200: $light-primary-text,
  A400: $light-primary-text,
  A700: $light-primary-text,
 )
);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-elevation-z7 {
  box-shadow: 0 4px 5px -2px #0003, 0 7px 10px 1px #00000024, 0 2px 16px 1px #0000001f;
}

$my-primary: mat.define-palette($rtb-red-palette);
$my-accent: mat.define-palette($rtb-blue-palette, 200, 100, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($rtb-red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.core();
// Adds density level 0 styles
@include mat.all-component-themes($my-theme);


@import "./_mixins";

@include responsive-dialogs();

@import "./maya";
@include maya-layout();

.highlight-date {
  background: red;
}


.c3 .domain,
.c3 .tick line {
  stroke: #888;
}

.c3-axis .tick text {
  fill: #888;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Work Sans', 'Raleway', 'Open Sans', Roboto, "Helvetica Neue", sans-serif;
  overscroll-behavior: noneoa;
}
.c3 .domain,
.c3 .tick line {
  stroke: #888;
}

.c3-axis .tick text {
  fill: #888;
}


app-article {
  display: block;
  padding: 1rem;
}

// Background palette for light themes.
$background: (
  status-bar:  rgba(black, 0.38),
  app-bar:     rgba(black, 0.38),
  background:  rgba(black, 0.38),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button:  rgba(black, 0.38),
  raised-button: white,
  focused-button:  rgba(black, 0.38),
  selected-button:  rgba(black, 0.38),
  selected-disabled-button:  rgba(black, 0.38),
  disabled-button-toggle:  rgba(black, 0.38),
);
// Foreground palette for light themes.
$foreground: (
  base:              black,
  divider:            rgba(black, 0.38),
  dividers:           rgba(black, 0.38),
  disabled:          rgba(black, 0.38),
  disabled-button:   rgba(black, 0.38),
  disabled-text:     rgba(black, 0.38),
  hint-text:         rgba(black, 0.38),
  secondary-text:    rgba(black, 0.54),
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@import 'app/welcome/welcome.component.scss';
@import 'app/summary/summary.component.scss';
@import 'app/layouts/layouts.component.scss';
@import 'app/results/results.component.scss';
@import 'app/article/article.component.scss';
@import 'app/retirement-article/retirement-article.component.scss';

@import 'app/parameter-collection/parameter-collection.component.scss';

app-welcome {
  @include welcome();
}
app-summary {
  @include summary();
}
app-results {
  @include results();
}
parameter-collection {
  @include parameter-collection();
}
app-layouts {
  @include app-layouts($my-theme);
}
app-article {
  @include article();
}
app-retirement-article {
  @include app-retirement-article($my-theme);
}
