
<label>Leverage </label><button (click)="editLeverage()">Edit</button>
<span>{{leverage}}</span>
<br/>
<input (change)="updateLeverage($event.target.value)" 
type="range" min="0" max="3" step=".2" [value]="leverage">

<app-line-chart [chartData]="marketLeverage"></app-line-chart>
<!--
<button (click)="findMyRetirement()">Find my retirement</button>
-->

<label>Withdrawal rate vs Confidence over retirement</label>
<app-line-chart [chartData]="withdrawalConfidence" [gridOptions]="withdrawalConfidenceGridOptions"></app-line-chart>