<ng-container *ngIf="muxs.components | async as components">
  <section *ngIf="components.size > 2">
    <app-maya-callout-content
      caption="Continue where you left off?"
      content="We noticed you already have a plan in progress, you can pick up where you left off."
      [image]="{src: imageAssetService.getAssetUrl('handshake_tight.png')}"
      [action]="{primary: true, href:routingService.mapper.createLifeEventsRoute(), text:'Continue Plan'}"
    ></app-maya-callout-content>
  </section>
</ng-container>

<hgroup>
  <h2 class="subtitle">1. Define planning stage</h2>
  <h1 class="title">Which type are you?</h1>
</hgroup>
<div class="cards">
  <a class="card" 
  [routerLink]="[routingService.mapper.createMayaOnboardingNewbie()]"
  >
    <img [src]="imageAssetService.getAssetUrl('newbie.jpg')" alt="">
    <h3>
      Newbie
    </h3>
    <p>
      Someone who doesn't do any financial planning. HELP
    </p>
  </a>
  <a class="card" [routerLink]="[routingService.mapper.createMayaOnboardingDipper()]">
    <img [src]="imageAssetService.getAssetUrl('toe_dipper.jpg')" alt="">
    <h3>
      Toe Dipper
    </h3>
    <p>
      Someone who saves but doesn't invest. Does 401k
    </p>
  </a>
  <a class="card" [routerLink]="[routingService.mapper.createMayaOnboardingFinancier()]">
    <img [src]="imageAssetService.getAssetUrl('financier.jpg')" alt="">
    <h3>
      Financier
    </h3>
    <p>
      I save money, also invests in stocks and is already thinking about retirement.
    </p>
  </a>
</div>