hgroup {
  text-align: center;
  margin: 100px auto 50px;
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
}


.cards {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;

  .card {
    flex-direction: column;
    flex: 2 1 20%;
    display: flex;
    height: 460px;
    min-width: 16rem;

    border-radius: 0.375rem;
    border: 10px solid #96BAFA;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);

    padding: 2rem;

    text-align: center;
    text-decoration: none;
    justify-content: space-around;
    
  }
}