<hgroup>
  <h2 class="subtitle">1. Define planning stage</h2>
  <h1 class="title">Which type are you?</h1>
</hgroup>
<div class="cards">
  <a class="card" [routerLink]="['./newbie']">
    <img src="assets/images/newbie.jpg" alt="">
    <h3>
      Newbie
    </h3>
    <p>
      Someone who doesn't do any financial planning. HELP
    </p>
  </a>
  <a class="card" [routerLink]="['./dipper']">
    <img src="assets/images/toe_dipper.jpg" alt="">
    <h3>
      Toe Dipper
    </h3>
    <p>
      Someone who saves but doesn't invest. Does 401k
    </p>
  </a>
  <a class="card" [routerLink]="['./financier']">
    <img src="assets/images/financier.jpg" alt="">
    <h3>
      Financier
    </h3>
    <p>
      I save money, also invests in stocks and is already thinking about retirement.
    </p>
  </a>
</div>