<h2>Upgrade</h2>
<p>
  All the learning resources and calculators are made freely available to anyone who's interested in planning for their financial future. While there are minor costs involved in hosting, for the most part allowing these components to be free is still sustainable.
</p>
<p>
  There are additional features which I'm excited to develop but cost additional money for compute and storage. As I am able to make these efficient enough to made free, I will release them to all. Until then, they'll be made available for upgraded accounts who are supporting development. 
</p>
<p>Available monthly subscriptions to upgrade your account is detailed below!</p>
<figure>
  <h3>$10.98</h3>
  <figcaption>
    <h4>Make me happy!</h4>
    <h5>Fried chicken and beer</h5>
    <p>
      The dinner crew will have access to all features even as they're in development. This includes optimization functions and cloud compute capabilities - as expensive as it may cost to be developed and executed.
    </p>
    
    <button disabled mat-flat-button color="primary">Join the Dinner Crew!</button>
    
  </figcaption>
</figure>

<figure>
  <h3>$7.65</h3>
  <figcaption>
    <h4>Make me healthy!</h4>
    <h5>Chopped Salad</h5>
    <p>
      The lunch crew will have access to all features out of experimental and will form the core beta tester group. These are features that are being vetted to be sustainable to support.
    </p>
  
    <button disabled mat-flat-button color="primary">Join the Lunch Crew!</button>
    
  </figcaption>
</figure>

<figure>
  <h3>$4.32</h3>
  <figcaption>
    <h4>Make me hyper!</h4>
    <h5>Hot Coffee</h5>
    <p>
      The breakfast crew will have access to all sustainable features that have graduated from experimental and vetting.
    </p>
    
    <button disabled mat-flat-button color="primary">Join the Breakfast Crew!</button>
    
  </figcaption>
</figure>

<figure>
  <h3>$1.00</h3>
  <figcaption>
    <h4>Tip!</h4>
    <h5>High five</h5>
    <p>
      The high fivers think Red then Black is cool, is satisfied just using the free features, but wants to be supportive anyway!
    </p>
    
    <button disabled mat-flat-button color="primary">High Five!</button>
    
  </figcaption>
</figure>