<mat-list>
  <h3>Calculators</h3>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createSavingsCalculator()">Why Saving Money is Important</a></span>
    <span>Saving money is a journey, not a destination. It takes time and effort, but it's worth it in the long run. You can start saving money today and build a secure financial future for yourself.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createIndexingCalculator()">Index Investing for Retirement, a Quantitative Approach</a></span>
    <span> 
      Index investing is a passive investment strategy that involves tracking a specific market index, such as the S&P 500. This means that index investors do not try to pick individual stocks, but instead buy and hold a basket of securities that mirrors the performance of the index.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createRentOrBuyCalculator()">Renting vs. Buying a Home</a></span>
    <span> 
      Whether to rent or buy a home is a major financial decision that can have a significant impact on your life. There are many factors to consider, both financial and personal, and the best decision for you will depend on your individual circumstances.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createComparingCashFlowsCalculator()">Comparing Cash Flows</a></span>
    <span> 
      When making investment decisions, it is important to be able to compare the different cash flows that each investment option generates. The quantitative approach to comparing cash flows uses a variety of methods to assess the relative value of different investments.

      One of the most common methods is net present value (NPV). NPV is calculated by discounting the future cash flows of an investment to their present value. The discount rate used is the investor's required rate of return. If the NPV of an investment is positive, then the investment is expected to generate a return that is greater than the investor's required rate of return. Conversely, if the NPV is negative, then the investment is expected to generate a return that is less than the investor's required rate of return.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createBackToSchoolCalculator()">Going Back to School vs Continuing a Profession, how to Evaluate the Tradeoff</a></span>
    <span> 
      Making the decision to go back to school can be a difficult one. There are many factors to consider, including the cost of tuition, lost wages, the potential increase in earnings after graduation, and the personal fulfillment that comes from learning and achieving. A quantitative approach can help you to weigh the pros and cons of going back to school and make an informed decision.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createGasOrElectricCalculator()">Gas vs. Electric Cars Discounted Cash Flow Analysis</a></span>
    <span> 
      In recent years, there has been a growing interest in electric vehicles (EVs) as a way to reduce our reliance on fossil fuels and combat climate change. However, EVs are still more expensive than gas-powered cars, so it is important to carefully consider the financial implications of buying an EV before making a decision.

One way to compare the financial costs of a gas car and an EV is to use discounted cash flow analysis (DCF). DCF is a financial modeling technique that takes into account the time value of money to calculate the present value of future cash flows. This allows us to compare the total cost of ownership of a gas car and an EV over a period of time, taking into account factors such as the initial purchase price, fuel costs, maintenance costs, and resale value.

    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createRetirementWithdrawalCalculator()">Evaluating Withdrawal Rate Over a Variable Length Retirement Horizon</a></span>
    <span> 
      When planning for retirement, one of the most important decisions is how much money you can safely withdraw from your nest egg each year. This is known as the withdrawal rate. The withdrawal rate that you choose will have a big impact on how long your money lasts, so it's important to get it right.
  
      There are a number of factors that can affect the safe withdrawal rate, including inflation, equity risk, interest rates, and whether or not you own your home. In this article, we'll discuss the quantitative approach to evaluating withdrawal rate over a variable length retirement horizon.
    </span>
  </mat-list-item>


  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createMortgageYourRetirement()">Mortgaging Your Retirement</a></span>
    <span> 
      In their paper "Mortgaging Your Retirement," Ian Ayres and Barry Nalebuff argue that traditional retirement planning advice is too conservative. They propose a new strategy called "lifecycle investing," which involves using leverage to invest more heavily in stocks when you are young and then paying down the debt as you get older.
  
  The authors support their argument with historical data. They show that a leveraged investment strategy has outperformed a traditional strategy in the long run. They also show that the leveraged strategy is less risky than it might seem. This is because the longer you invest in stocks, the more likely you are to see a positive return.
  
  Of course, there is no guarantee that the leveraged strategy will work in the future. However, the authors argue that it is a better bet than the traditional strategy. They also point out that the leveraged strategy is relatively easy to implement. You can simply buy stocks on margin using a brokerage account.
  
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createOptimalBetSizingCalculator()">The Kelly Criterion: A Quantitative Approach to Optimal Bet Sizing</a></span>
    <span> 
      The Kelly criterion is a mathematical formula that can be used to determine the optimal amount of money to bet on an investment or wager. The formula is based on the probability of winning, the expected return on a win, and the expected return on a loss.
  
  The Kelly criterion is often used in gambling, but it can also be applied to personal financial investments. For example, you could use the Kelly criterion to determine how much money to invest in a particular stock or index fund.
    </span>
  </mat-list-item>

</mat-list>


<!--
<a [href]="routingService.mapper.createMayaEducation()">Education</a>
<br>
<a [href]="routingService.mapper.createMayaDashboard()">Dashboard</a>
-->