<mat-list>
  <h3>Calculators</h3>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createSavingsCalculator()">Why Saving Money is
        Important</a></span>
    <span>Saving money is a journey, not a destination. It takes time and effort, but it's worth it in the long run. You
      can start saving money today and build a secure financial future for yourself.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createIndexingCalculator()">Index Investing for
        Retirement, a Quantitative Approach</a></span>
    <span>Index investing is a passive investment strategy that involves tracking a specific market index, such as the S&P
      500. This means that index investors do not try to pick individual stocks, but instead buy and hold a basket of
      securities that mirrors the performance of the index.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createAmortizationCalculator()">Amortization Calculation in Mortgages, Car Payments, and Other Loans</a></span>
    <span>Amortization is the process of paying off a loan over time in equal installments. Part of each payment goes toward the loan principal, and part goes toward interest. As the loan amortizes, the amount going toward principal starts out small, and gradually grows larger month by month.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createPerpetuityCalculator()">What is a perpetuity?</a></span>
    <span>A perpetuity is a financial instrument that pays a fixed amount of money in perpetuity, meaning forever. This is in contrast to an annuity, which pays a fixed amount of money for a fixed period of time. Perpetuities are often used to calculate the present value of an investment that pays a fixed amount of money each year, such as a bond or a dividend-paying stock.</span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createRetirementWithdrawalCalculator()">Evaluating
        Withdrawal Rate Over a Variable Length Retirement Horizon</a></span>
    <span>When planning for retirement, one of the most important decisions is how much money you can safely withdraw
      from
      your nest egg each year. This is known as the withdrawal rate. The withdrawal rate that you choose will have a big
      impact on how long your money lasts, so it's important to get it right.

      There are a number of factors that can affect the safe withdrawal rate, including inflation, equity risk, interest
      rates, and whether or not you own your home. In this article, we'll discuss the quantitative approach to
      evaluating withdrawal rate over a variable length retirement horizon.
    </span>
  </mat-list-item>


  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createRentOrBuyCalculator()">Renting vs. Buying a
        Home</a></span>
    <span>Whether to rent or buy a home is a major financial decision that can have a significant impact on your life.
      There
      are many factors to consider, both financial and personal, and the best decision for you will depend on your
      individual circumstances.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createComparingCashFlowsCalculator()">Comparing Cash
        Flows</a></span>
    <span>When making investment decisions, it is important to be able to compare the different cash flows that each
      investment option generates. The quantitative approach to comparing cash flows uses a variety of methods to assess
      the relative value of different investments.

      One of the most common methods is net present value (NPV). NPV is calculated by discounting the future cash flows
      of an investment to their present value. The discount rate used is the investor's required rate of return. If the
      NPV of an investment is positive, then the investment is expected to generate a return that is greater than the
      investor's required rate of return. Conversely, if the NPV is negative, then the investment is expected to
      generate a return that is less than the investor's required rate of return.
    </span>
  </mat-list-item>
  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createBackToSchoolCalculator()">Going Back to School
        vs Continuing a Profession, how to Evaluate the Tradeoff</a></span>
    <span>Making the decision to go back to school can be a difficult one. There are many factors to consider, including
      the
      cost of tuition, lost wages, the potential increase in earnings after graduation, and the personal fulfillment
      that comes from learning and achieving. A quantitative approach can help you to weigh the pros and cons of going
      back to school and make an informed decision.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createGasOrElectricCalculator()">Gas vs. Electric Cars
        Discounted Cash Flow Analysis</a></span>
    <span>In recent years, there has been a growing interest in electric vehicles (EVs) as a way to reduce our reliance
      on
      fossil fuels and combat climate change. However, EVs are still more expensive than gas-powered cars, so it is
      important to carefully consider the financial implications of buying an EV before making a decision.

      One way to compare the financial costs of a gas car and an EV is to use discounted cash flow analysis (DCF). DCF
      is a financial modeling technique that takes into account the time value of money to calculate the present value
      of future cash flows. This allows us to compare the total cost of ownership of a gas car and an EV over a period
      of time, taking into account factors such as the initial purchase price, fuel costs, maintenance costs, and resale
      value.

    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createMortgageYourRetirement()">Mortgaging Your
        Retirement</a></span>
    <span>In their paper "Mortgaging Your Retirement," Ian Ayres and Barry Nalebuff argue that traditional retirement
      planning advice is too conservative. They propose a new strategy called "lifecycle investing," which involves
      using leverage to invest more heavily in stocks when you are young and then paying down the debt as you get older.

      The authors support their argument with historical data. They show that a leveraged investment strategy has
      outperformed a traditional strategy in the long run. They also show that the leveraged strategy is less risky than
      it might seem. This is because the longer you invest in stocks, the more likely you are to see a positive return.

      Of course, there is no guarantee that the leveraged strategy will work in the future. However, the authors argue
      that it is a better bet than the traditional strategy. They also point out that the leveraged strategy is
      relatively easy to implement. You can simply buy stocks on margin using a brokerage account.

    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createOptimalBetSizingCalculator()">The Kelly
        Criterion: A Quantitative Approach to Optimal Bet Sizing</a></span>
    <span>The Kelly criterion is a mathematical formula that can be used to determine the optimal amount of money to bet
      on
      an investment or wager. The formula is based on the probability of winning, the expected return on a win, and the
      expected return on a loss.

      The Kelly criterion is often used in gambling, but it can also be applied to personal financial investments. For
      example, you could use the Kelly criterion to determine how much money to invest in a particular stock or index
      fund.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createSeniorCareCalculator()">Preparing for Parents'
        Senior Care</a></span>
    <span>As your parents age, it's important to start thinking about their future care needs. If they need more
      assistance
      than you can provide at home, you may need to consider placing them in a retirement home.

      There are a number of factors to consider when making this decision, including the cost of care, the type of care
      your parents need, and the location of the retirement home. One way to make the decision easier is to use a
      quantitative approach, such as net present value (NPV) and cash flow analysis.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createMathToAMillionaireCalculator()">Math to
        Millionaire: How to Reach a Million Dollars by Saving and Index Investing</a></span>
    <span>The idea of becoming a millionaire may seem daunting, but it is actually within reach for many people. With a
      little bit of math and some simple investing strategies, you can put yourself on the path to financial freedom.

      The key to reaching a million dollars is to start saving early and let compound interest work its magic. If you
      can save $5,000 per year starting at age 25, you will have over $1 million by the time you retire at age 65,
      assuming a 7% annual return on investment.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createKidsCollegeFundCalculator()">Saving for a Kid's
        College Fund</a></span>
    <span>College is expensive. The average cost of tuition and fees at a four-year public college in the United States
      is
      now over $10,000 per year. And that doesn't even include room and board, books, and other expenses.

      If you want to help your child afford college, you need to start saving early. The sooner you start, the more time
      your money has to grow.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createCouplesFinancesCalculator()">How Couples Should
        Share or Split Finances</a></span>
    <span>Managing finances as a couple can be a challenge, but it's important to find a system that works for both of
      you.
      There are many different ways to share or split finances, and the best approach will vary depending on your
      individual circumstances.

      Here are a few factors to consider when deciding how to manage your finances:
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a
        [routerLink]="routingService.mapper.createWeddingHoneymoonDownPaymentCalculator()">Tradeoff Between Money for a
        Wedding, Honeymoon, and Down Payment for a House</a></span>
    <span>When you're getting married, there are a lot of financial decisions to make. One of the biggest is how much
      money
      to spend on the wedding, honeymoon, and down payment for a house.

      There's no easy answer, as the best decision for you will depend on your individual circumstances and priorities.
      However, it's important to weigh the pros and cons of each option so that you can make the best decision for your
      future.
    </span>
  </mat-list-item>

  <mat-list-item lines="3">
    <span matListItemTitle><a [routerLink]="routingService.mapper.createDebtHedgeInflationCalculator()">Hedge Against
        Inflation with Debt</a></span>
    <span>Inflation is a general increase in prices and a decrease in the purchasing power of money. When inflation
      occurs, the value of money decreases, which means that you need more money to buy the same goods and services.

      There are a number of ways to hedge against inflation, including investing in assets that are likely to appreciate
      in value, such as real estate or commodities. However, you can also hedge against inflation with debt.
    </span>
  </mat-list-item>
  <p>
    <i>
      Please consult an accountant or financial advisor for tax and investmentment considerations.
    </i>
  </p>
</mat-list>


<!--
<a [href]="routingService.mapper.createMayaEducation()">Education</a>
<br>
<a [href]="routingService.mapper.createMayaDashboard()">Dashboard</a>
-->