<div class="inputs">
  <mat-form-field >
    <mat-label>How long until kid goes to college</mat-label>
    <input matInput [formControl]="controls.numPeriods" step="1" min="0" type="number" /><br/>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Delay until savings</mat-label>
    <input matInput [formControl]="controls.delayUntilSaving" min="0" type="number" /><br/>
  </mat-form-field>
</div>
<div class="inputs">
  <mat-form-field >
    <mat-label>Initial savings</mat-label>
    <input matInput [formControl]="controls.initialInvestment" min="0" type="number" /><br/>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Savings Rate of return</mat-label>
    <input matInput [formControl]="controls.rateOfReturn" min="0" step=".01" type="number" /><br/>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Additional savings per period</mat-label>
    <input matInput [formControl]="controls.additionalSavings" min="0" type="number" /><br/>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Rate of increasing savings</mat-label>
    <input matInput [formControl]="controls.additionalSavingsGrowth" step=".01" min="0" type="number" /><br/>
  </mat-form-field>
</div>
<div class="inputs">
  <mat-form-field>
    <mat-label>Current Cost of College</mat-label>
    <input matInput [formControl]="controls.costOfCollege" min="0" type="number" /><br/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>College Cost Inflation Rate</mat-label>
    <input matInput [formControl]="controls.costOfCollegeInflation" step=".01" min="0" type="number" /><br/>
  </mat-form-field>
</div>

<ng-container *ngIf="fundCharts | async as charts">
  <app-line-chart [chartData]="charts"></app-line-chart>
</ng-container>
<ng-container *ngIf="fund | async as fund">
  <dl>
    <dt>Balance of College Fund</dt>
    <dd>{{fund.fund.at(-1) | currency: 'USD'}}</dd>
    <dt>Cost of College</dt>
    <dd>{{fund.cost.at(-1) | currency: 'USD'}}</dd>
    <dt>Difference</dt>
    <dd>{{fund.difference.at(-1) | currency: 'USD'}}</dd>
  </dl>
</ng-container>

<markdown ngPreserveWhitespaces>
# Saving for a Kid's College Fund

College is expensive. The average cost of tuition and fees at a four-year public college in the United States is now over $10,000 per year. And that doesn't even include room and board, books, and other expenses.

If you want to help your child afford college, you need to start saving early. The sooner you start, the more time your money has to grow.

There are a number of different ways to save for college. You can open a savings account, invest in a 529 plan, or even start a college savings plan through your employer.

The best way to save for college depends on your individual circumstances. But if you want to take a quantitative approach, there are a few things you need to consider.

## 1. How much will college cost?

The first step is to estimate how much college will cost by the time your child is ready to attend. You can use a college cost calculator to get an estimate.

## 2. How much can you afford to save?

Once you know how much college will cost, you need to figure out how much you can afford to save. This will depend on your income, expenses, and other financial goals.

## 3. What is the best savings vehicle?

There are a number of different savings vehicles available, each with its own advantages and disadvantages. You need to choose the one that is right for you.

## 4. How much should you save each month?

The amount you save each month will depend on your income, expenses, and other financial goals. But a good rule of thumb is to save at least 10% of your income for college.

## 5. What about financial aid?

Don't forget about financial aid when you are planning for college. There are a number of different financial aid programs available, and you may be eligible for some of them.

## The quantitative approach to saving for a kid's college fund can help you reach your goal. By following these steps, you can start saving early and give your child a head start on their college education.

## Here are some additional tips for saving for college:

- **Start saving as early as possible.** The earlier you start, the more time your money has to grow.
- **Set a realistic savings goal.** Don't try to save too much too soon, or you may get discouraged.
- **Make saving for college a priority.** Set up a monthly automatic transfer from your checking account to your savings account.
- **Look for ways to save money.** Cut back on unnecessary expenses so you can free up more money to save for college.
- **Take advantage of tax-advantaged savings plans.** 529 plans and ESAs offer tax breaks that can help you save more for college.
- **Don't forget about financial aid.** There are a number of different financial aid programs available, and you may be eligible for some of them.


## By following these tips, you can start saving for college today and give your child a brighter future.
</markdown>