<section class="summary" *ngIf="summaryService.summary | async as summary">
    <h1>
        Retirement Metrics
    </h1>
    <div class="metrics" *ngIf="findMyRetirementService.summary | async as summary">
        <div>
            <span>Expected Outcome</span>
            <span>{{summary.medianOutcome}}</span>
        </div>
        <div>
            <span>Time in Years</span>
            <span>{{summary.time}}</span>
        </div>
        <div>
            <span>Confidence to Target</span>
            <span>{{summary.confidence}}</span>
        </div>
        <div>
            <span>Target Nest Egg</span>
            <span>{{summary.value}}</span>
        </div>
    </div>
</section>
<section class="recommendations">
    <h3>
        Recommendations
    </h3>
    <div>Ways to improve retirement summary metrics</div>
    <mat-tab-group>
        <mat-tab label="All"> 
            <ng-container *ngIf="recommendations | async as recommendations">
                <mat-card appearance="outlined" *ngFor="let recommendation of recommendations">
                    <mat-card-header>
                        <mat-card-title>{{recommendation.text}}</mat-card-title>
                        <mat-card-subtitle> </mat-card-subtitle>  
                    </mat-card-header>
                    <mat-card-content><p></p></mat-card-content>
                    <mat-card-actions>
                        <a [routerLink]="recommendation.href" mat-flat-button><mat-icon>arrow_right_alt</mat-icon></a>
                    </mat-card-actions>
                </mat-card>
                
            </ng-container>
        </mat-tab>
        <mat-tab label="Value"> 
            <ng-container *ngIf="valueRecommendations | async as recommendations">
                <mat-card appearance="outlined" *ngFor="let recommendation of recommendations">
                    <mat-card-header>
                        <mat-card-title>{{recommendation.text}}</mat-card-title>
                        <mat-card-subtitle> </mat-card-subtitle>  
                    </mat-card-header>
                    <mat-card-content><p></p></mat-card-content>
                    <mat-card-actions>
                        <a [routerLink]="recommendation.href" mat-flat-button><mat-icon>arrow_right_alt</mat-icon></a>
                    </mat-card-actions>
                </mat-card>
                
            </ng-container>
        </mat-tab>
        <mat-tab label="Time"> 
            <ng-container *ngIf="timeRecommendations | async as recommendations">
                <mat-card appearance="outlined" *ngFor="let recommendation of recommendations">
                    <mat-card-header>
                        <mat-card-title>{{recommendation.text}}</mat-card-title>
                        <mat-card-subtitle> </mat-card-subtitle>  
                    </mat-card-header>
                    <mat-card-content><p></p></mat-card-content>
                    <mat-card-actions>
                        <a [routerLink]="recommendation.href" mat-flat-button><mat-icon>arrow_right_alt</mat-icon></a>
                    </mat-card-actions>
                </mat-card>
                
            </ng-container>
        </mat-tab>
        <mat-tab label="Confidence"> 
            <ng-container *ngIf="confidenceRecommendations | async as recommendations">
                <mat-card appearance="outlined" *ngFor="let recommendation of recommendations">
                    <mat-card-header>
                        <mat-card-title>{{recommendation.text}}</mat-card-title>
                        <mat-card-subtitle> </mat-card-subtitle>  
                    </mat-card-header>
                    <mat-card-content><p></p></mat-card-content>
                    <mat-card-actions>
                        <a [routerLink]="recommendation.href" mat-flat-button><mat-icon>arrow_right_alt</mat-icon></a>
                    </mat-card-actions>
                </mat-card>
            </ng-container>    
        </mat-tab>
      </mat-tab-group>
</section>


