<header class="intro">
  <h1><span>Betting on Beta</span></h1>
  <h3>An amateur’s approach to retirement.</h3>
  <a mat-button
     href="#main"
     mat-icon-button
     aria-label=""
     (click)="$event.preventDefault();main.scrollIntoView({behavior:'smooth'})">
    <!-- keyboard_arrow_down -->
    <!-- check -->
    <mat-icon>check </mat-icon>
  </a>
</header>
<main #main>
  <button mat-raised-button
  (click)="showData = !showData">Show raw data</button>
  <button mat-raised-button (click)="saveData()">Save data</button>

  <br/>
  <button *ngIf="outputData" mat-raised-button (click)="clearOutput()">Clear data</button>
  <button (click)="loadData()" mat-raised-button>Output data</button>
  <textarea matInput *ngIf="outputData">{{outputData}}</textarea>
  <ng-container *ngIf="showData">
  <iframe width="100%"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpQkFE6dROgEP3_M3UnNPDxmq2IGJPxbYwUDEh7zqQpwI37X_KRx_KqOfZnpzr9Lml_K0oy2pmT9Q6/pubhtml?widget=true&amp;headers=false"></iframe>
  </ng-container>


  <br/>
  <button (click)="runBacktest()" mat-raised-button>Run backtest</button>
  <button (click)="updateRunsPerPortfolio()" mat-raised-button>Runs per portfolio: {{runsPerPortfolio}}</button>
  <button (click)="updatePeriodsPerBacktest()" mat-raised-button>Number periods in lookback: {{periodsPerBacktest}}</button>
  
  <timeseries-chart [chartData]="chartData"></timeseries-chart>

  <h2>SPY Allocation vs VIX</h2>
  <timeseries-chart [chartData]="vixChartData"></timeseries-chart>
  <button (click)="createVixGraph()" mat-raised-button>Generate</button>
  <button *ngIf="vixChartData" (click)="saveVixGraph()" mat-raised-button>Save</button>
  
</main>
  