<p>splash-intro works!</p>

<h1>
  Planning for your retirement doesn't have to be scary.
</h1>
<a mat-stroked-button [href]="routingService.mapper.createMayaOnboarding()">Get Startad</a>
<h2>
  Fear of the unknown.
</h2>
<p>
  it Is what makes retirement planning Teel overwhelming. Where do start? How do I know if Tr plannina properlv? What if I don't have enough?
  Those are just a few of many of the uncertainties  
</p>
<h2>
  Your future is like a deck of cards.
</h2>
<p>
  You never know which card you are going to get. R/B excepteur sint occaecat cupidatat non proident, sunt in culpa aui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
  errorsit vOluotatem accusantum goioremoue
  laudantium, totam rem aperiam, eaque ipsa quae al
  _loinventore vertaus er cuasrarcnilecto oeaTae
  vitae dicta sunt explicabo  
</p>
<aside>
  <h2>
    Personas
  </h2>
  <p>
    No one nas the same lIfestyle. So we proke apart tinancial planning into unree types or personas. Onboarding should be different for each persona. Pick the one that resonates most with you.
  </p>
  <ol>
    <li>
      <h4>
        Persona 1
      </h4>
      <p>
        I already save money, invest, and I'm already thinking about retirement.
      </p>
      <button mat-stroked-button>I know what I'm doing but can use a check up.</button>
    </li>
    <li>
      <h4>
        Persona 2
      </h4>
      <p>
        I already save, don't really get investing, but I have a 401k!
      </p>
      <button mat-stroked-button>I could use some more options?</button>
    </li>
    <li>
      <h4>
        Persona 3
      </h4>
      <p>
        I have no idea what I'm doing and the future is bleak T_T
      </p>
      <button mat-stroked-button>HELP!</button>
    </li>
  </ol>
</aside>


<h2>
  Here will be some type of generic calculator.
</h2>
<p>
  ThIs wIll be a section where we provide a pretty generic salarv. savings, investment example
  Users can adiust numbers in here perhaps a
  slider of sort that adiusts the invidividual areas
  and show now changing each oT the values affects overall goal.
</p>
<ul>
  <li>FIRE</li>
  <li>Family Planner - Student loans, First job, Wedding, twin kids, college education, retirement </li>
  <li>YOLO - experiences are expensive, never retire, multiple homes, serial entreprenur</li>

</ul>

