
.timeline {
  .item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .label {
    display: flex;
    flex: 1;
  }
  .highlight {
    display: flex;
    flex: 1;
  }
  figure {
    display: flex;
    flex: 2;
  }
  mat-slider {
    display: flex;
    flex: 1;
  }
}