:host {
  padding: .5rem;
}
.timeline {
  .item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .label {
    display: flex;
    flex: 1;
  }
  .highlight {
    display: flex;
    flex: 1;
  }
  figure {
    display: flex;
    flex: 3;
    flex-direction: column;

    .slider {
      display: flex;
      flex-direction: row;
    }
    .range {
      text-align: center;
    }
  }
  mat-slider {
    display: flex;
    flex: 1;
  }
}