@mixin results() {
  & {
    margin: 1rem;
    min-height: 10rem;
    display: block;
  }
  nav {
    font-size: 1rem;
    list-style: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 -1rem;
  }

  details {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem auto;
  }

  .highlights {
    display: flex;
    flex: 1;
    flex-direction: row;

    div {
      display: flex;
      flex: 1;
      flex-direction: column;

      span:first-child {
        font-size: .75rem;
        line-height: 1rem;
        width: 4rem;
        height: 2rem;
      }

      span:last-child {
        font-size: 1.5rem;
      }
    }
  
  }
  .chart.title{
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
  }

  .metrics {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1rem auto;

    div {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      margin: .5rem 0;

      span:first-child {
        font-size: .75rem;
        line-height: 1rem;
        width: 4rem;
        height: 2rem;
      }

      span:last-child {
        font-size: 1.5rem;
      }
    }
  }

  table {
    display: table;
    width: 100%;
  }
  
  td {
    text-overflow: ellipsis;
  }

}