
<h1>Model Gallery</h1>
<p>
  A visualization of Life Event Models with default parameters and the effect on Cash, Traditional 401k, and Stocks.
</p>
<div class="exhibits">
<div class="exhibit" *ngFor="let exhibit of exhibits; let i = index">
  {{exhibit.name}}
  <ng-container *ngIf="exhibit.chartData.columns.length">
    <app-bar-chart [chartData]="exhibit.chartData" [legendOptions]="{show: false}"></app-bar-chart>
</ng-container>
</div>
</div>
<!-- 
<markdown ngPreserveWhitespaces>
  ## Demystifying Finance with Transparency
  
  Transparency plays a crucial role in fostering trust and understanding among users. By making all models and systems within the simulator open and transparent, we aim to eliminate the opaque nature often associated with finance. This approach allows users to comprehend the inner workings of the financial models, removing the "black box" element and instilling confidence in the reliability of the calculations. Trust in the simulator is built on the foundation of transparency, reinforcing the idea that decisions are guided by mathematics rather than hidden agendas. Ultimately, transparency in financial planning enhances user confidence, promotes informed decision-making, and establishes a foundation of trust based on the principles of clarity and openness.

</markdown> -->
